@{
    ViewData["Title"] = "Instructor Inventory";
    ViewData["MainTitle"] = "I-Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LDMS.ViewModels.LDMS_M_Instructor_Search

@section Header{
    <style>
        .ui-widget-header {
            border-color:transparent !important;
            background-color:transparent !important;
            background-image:none !important;
        }
        .btn-command
        {
            width:140px;
        }
    </style>
}

<div class="panel-body" style="width: 100%;">
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="form-group m-2 row">
            <label class="col-2 col-form-label" style="text-align: right">Instructor ID</label>
            <div class="col-4">
                <input class="form-control" type="text" id="txtInsID" placeholder="Instructor ID" maxlength="10">
            </div>
            <label class="col-2 col-form-label" style="text-align:right">Status</label>
            <div class="col-4">
                <select id="ddlStatus" class="form-control">
                    <option value="">@LDMS.WEB.Resources.Enum.e_Select_All</option>
                    <option value="1">@LDMS.WEB.Resources.Enum.e_Status_Active</option>
                    <option value="0">@LDMS.WEB.Resources.Enum.e_Status_Inactive</option>
                </select>
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-2 col-form-label" style="text-align:right">Instructor Name</label>
            <div class="col-4">
                <input class="form-control" type="text" id="txtInsName" maxlength="100" placeholder="Instructor Name">
            </div>
            <label class="col-2 col-form-label" style="text-align:right">Organization</label>
            <div class="col-4">
                <input class="form-control" type="text" id="txtOrg" maxlength="250" placeholder="Organization">
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-2 col-form-label" style="text-align:right">Type</label>
            <div class="col-4">
                <select id="ddlType" name="type" class="form-control">
                </select>
            </div>
            <label class="col-2 col-form-label" style="text-align:right">Experience</label>
            <div class="col-4">
                <input class="form-control" type="text" id="txtExp" placeholder="Experience" maxlength="500">
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-2 col-form-label" style="text-align:right">Course</label>
            <div class="col-4">
                <input class="form-control" type="text" id="txtCouse" maxlength="50" placeholder="Course">
            </div>
            <div class="col-2">
            </div>
            <div class="col-4 form-group row pt-5">
                <div class="col-5">
                    <button id="btnEmpSeacrh" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />&nbsp;&nbsp;Search
                    </button>
                </div>
                <div class="col-5">
                    <button id="btnAdd" class="btn btn-outline-success waves-effect waves-light" style="width:100%" onclick="window.location.href = '@Url.Action("Detail", "Instructor")'; return false;">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/add-button-circle.svg" />&nbsp;&nbsp;Add Instrutor
                    </button>
                </div>
            </div>
        </div>
    </form>

    <div class="table-responsive m-t-20">
        <table id="txtData" class="display dataTable" style="width: 99% !important;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Instructor ID</th>
                    <th>Instructor Name</th>
                    <th>Type</th>
                    <th>Organization / Department</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

        </table>

    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        var dtData;
        $("#btnEmpSeacrh").click(function (e) {
            e.preventDefault();
            Search();
        });

        $(document).ready(function () {
            LoadStatus();
            Search();

        });

        function Search() {

             dtData = $('#txtData').DataTable({
                'processing': true,
                'serverSide': true,
                'paging': true,
                "pagingType": "full_numbers",
                'searching': false,
                 "autoWidth": false,
                 destroy: true,
                'ajax': {
                    'url': '@Url.Action("Search", "Instructor")',
                    'type': 'POST',
                    'data': {
                        'Instructor_ID': $("#txtInsID").val(),
                        'Instructor_Name': $("#txtInsName").val(),
                        'IsActive' : $('#ddlStatus').val(),
                        'Organization': $("#txtOrg").val(),
                        'Type' : $("#ddlType").val(),
                        'Course_Experience' : $('#txtExp').val(),
                        'CourseName' : $('#txtCouse').val(),
                        "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val()
                    },
                 },
                 "order": [],
                'columns': [
                    { data: 'rownumber' },
                    { data: 'Instructor_ID' },
                    { data: 'Instructor_Name' },
                    { data: 'TypeName' },
                    { data: 'Organization' },
                    {
                        "mData": "IsActive",
                        "mRender": function (data, type, row) {
                            var icon = '@Url.Content("~/assets/images/svg/icon-cross.svg")';
                            if(data)
                                var icon = '@Url.Content("~/assets/images/svg/icon-check-green.svg")';
                            return "<img src='" + icon+"' class='light-logo' />";
                        }
                    },
                    {
                        "mData": "ID",
                        "mRender": function (data, type, row) {
                            var url = '@Url.Content("~/Instructor/ViewProfile/")'+data;
                            var icon = '@Url.Content("~/assets/images/svg/icon-edit-blue.svg")';
                            return "<a href='"+url+"'><img src='"+icon+"' class='light-logo svg-colorize-blue' alt='homepage' /></a>";
                        }
                    }
                    ,
                    {
                        "mData": "ID",
                        "mRender": function (data, type, row) {
                             var icon = '@Url.Content("~/assets/images/svg/icon-delete-red.svg")';

                            return "<a href=\"javascript:deli('"+data+"');\"><img src='" + icon+"' class='light-logo svg-colorize-red' alt='homepage' /></a>";
                        }
                    }
                 ],
                 "columnDefs": [
                     { "targets": 0, "className": "text-center", "orderable": false, "width": "80px;"},
                     { "targets": 1, "className": "text-center"},
                     { "targets": 3, "className": "text-center"},
                     { "targets": 5, "className": "text-center", "width": "140px;"},
                     { "targets": 6, "orderable": false, "className": "text-center", "width": "80px;"},
                     { "targets": 7, "orderable": false, "className": "text-center", "width": "80px;" }
                 ]
            });
        }

        function deli(data) {
            if (confirm('@LDMS.WEB.Resources.Message.c_ConfirmDelete')) {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Del", "Instructor")',
                    data: { "id": data, "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                    success: function (e) {
                        Search();
                    },
                });
            }
        }


        function LoadStatus() {
             $.ajax({
                type: 'POST',
                 url: '@Url.Action("GetCodeLookup", "Master")',
                 data: { "tableName": "LDMS_M_Instructor", "fieldName": "Type", "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                 success: function (e) {
                     $("#ddlType").empty();
                     $("#ddlType").append("<option value=''>@LDMS.WEB.Resources.Enum.e_Select_All</option>");
                     for (i = 0; i < e.length; i++) {
                            $("#ddlType").append("<option value='" + e[i].Code + "'>" + e[i].StateName+"</option>");
                     }
                 },
            });
        }

    </script>
}
