
@{
    ViewData["Title"] = "Instuctor Profile";
    ViewData["MainTitle"] = "I-Manage";
}
@using LDMS.ViewModels;
@model LDMS_M_Instructor

@section Header{
    <style>
        .ui-widget-header {
            border-color: transparent !important;
            background-color: transparent !important;
            background-image: none !important;
        }

        .btn-command {
            width: 140px;
        }

        thead th {
            text-align: center !important;
        }

        . {
            font-size: 12pt !important;
        }

            .card .card-category, .card span {
                color: #212529;
            }
    </style>
}

<div style="width: 100%">
    <div class="card">
        <div class="form-group m-2 row">
            <div class="col-9">
                <h4 class="card-title">General Information</h4>
            </div>
            <div class="col-3 form-group row mt-2" style="text-align: right">
                <button id="btnEdit" class="btn btn-outline-success waves-effect waves-light" style="width:140px;" onclick="window.location.href = '@Url.Action("Detail", "Instructor")/@Model.ID'; return false;">
                    <img style="width:25px;height:20px" src="~/assets/images/svg/icon-edit-blue.svg" />&nbsp;&nbsp;Edit
                </button>&nbsp;&nbsp;
                <button id="btnBack" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:140px;" onclick="window.location.href = '@Url.Action("Index", "Instructor")'; return false;">
                    <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                </button>
            </div>
        </div>
    </div>
    <div class="card">
        <form class="form">
            @Html.AntiForgeryToken()
            <div class="card-block collapse show b-t">
                <div class="m-t-30 text-left pl-3">
                    @if (Model.Path_Image != null & Model.Path_Image != "")
                    {
                        <img src="@Model.Path_Image" class="img-circle" width="120">
                    }
                    <h4 class="card-title m-t-10">@Model.Instructor_Name</h4>
                    <h6 class="card-subtitle">@Model.Instructor_ID</h6>
                </div>
            </div>
            <div class="form-group m-2 row">
                <span class="col-2 " style="text-align:right">Instructor ID</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.Instructor_ID</span>
                </div>
                <span class="col-2 " style="text-align:right">Organization</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.Organization</span>
                </div>
            </div>
            <div class="form-group m-2 row">
                <span class="col-2 " style="text-align:right">Instructor Name</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.Instructor_Name</span>
                </div>
                <span class="col-2 " style="text-align:right">Address</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.Address</span>
                </div>
            </div>
            <div class="form-group m-2 row">
                <span class="col-2 " style="text-align:right">Type</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.TypeName</span>
                </div>
                <span class="col-2 " style="text-align:right">District</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.DISTRICT_NAME</span>
                </div>
            </div>
            <div class="form-group m-2 row">
                <span class="col-2 " style="text-align:right">Status</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@(Model.IsActive? LDMS.WEB.Resources.Enum.e_Status_Active: LDMS.WEB.Resources.Enum.e_Status_Inactive)</span>
                </div>
                <span class="col-2 " style="text-align:right">Sub Province</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.AMPHUR_NAME</span>
                </div>

            </div>
            <div class="form-group m-2 row">
                <span class="col-2 " style="text-align:right">Department</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.DepartmentName_EN</span>
                </div>
                <span class="col-2 " style="text-align:right">Province</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.PROVINCE_NAME</span>
                </div>

            </div>

            <div class="form-group m-2 row">
                <span class="col-2 " style="text-align:right">Phone</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.Phone</span>
                </div>
                <span class="col-2 " style="text-align:right">Post Code</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.Post_Code</span>
                </div>

            </div>
            <div class="form-group m-2 row">
                <span class="col-2 " style="text-align:right">Email</span>
                <div class="col-4">
                    <span class=" text-primary" style="text-align:left">@Model.Email</span>
                </div>
            </div>
        </form>
    </div>
    <div class="card">
        <div class="form-group m-2 row">
            <div class="col-6">
                <h4 class="card-title">Experience Information</h4>
            </div>
        </div>
        <div class="form-group m-2 row">
            <span class="col-3 " style="text-align:right">Attach File</span>
            @if (Model.Path_Certificate != null && Model.Path_Certificate != "")
            {
                <span class="col-2  text-primary" style="text-align:left"><a href="@Model.Path_Certificate" target="_blank">Cerfiticate</a></span>
            }
        </div>
        <div class="form-group m-2 row">
            <span class="col-3 " style="text-align:right">Education Level</span>
            <div class="col-8">
                <span class=" text-primary" style="text-align:left">@Model.Education_Level</span>
            </div>
        </div>
        <div class="form-group m-2 row">
            <span class="col-3 " style="text-align:right">Major</span>
            <div class="col-8">
                <span class=" text-primary" style="text-align:left">@Model.Major</span>
            </div>
        </div>
        <div class="form-group m-2 row">
            <span class="col-3 " style="text-align:right">Course Expperience</span>
            <div class="col-8">
                <span class=" text-primary" style="text-align:left">@Model.Course_Experience</span>
            </div>
        </div>
        <div class="form-group m-2 row">
            <span class="col-3 " style="text-align:right">Skill & Profressional</span>
            <div class="col-8">
                <span class=" text-primary" style="text-align:left">@Model.Skill_Professional</span>
            </div>
        </div>
        <div class="form-group m-2 row">
            <span class="col-3 " style="text-align:right">Customer Reference</span>
            <div class="col-8">
                <span class=" text-primary" style="text-align:left">@Model.Customer_Reference</span>
            </div>
        </div>
        <div class="form-group m-2 row">
            <span class="col-3 " style="text-align:right">Manufacturing Area</span>
            <div class="col-8">
                <span class=" text-primary" style="text-align:left">@Model.Manufacturing_Area</span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card-block">
                    <div class="col-6"> <h4 class="card-title">Courses</h4> </div>
                    <div class="table-responsive m-t-40" style="padding-left:10px;">
                        <table id="tdClass" class="table table-hover table-striped table-bordered color-table info-table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Course ID</th>
                                    <th>Course Name</th>
                                    <th>Platform</th>
                                    <th>AVG.Score</th>
                                    <th>Lasted</th>
                                    <th>Status</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        LoadClass();
    });

    function LoadClass() {
        $("#tdClass tbody > tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Instructor/GetClass")',
                data: { "insID": '@Model.ID', "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                dataType: 'json',
                success: function (e) {
                    if (e != null) {
                        for (var i = 0; i < e.length; i++) {
                            var row = $("<tr />");
                            $("#tdClass tbody").append(row);
                            row.append($("<td>" + (i + 1) + "</td>"));

                            row.append($("<td class='text-center'>" + e[i].CourseID + "</td>"));
                            row.append($("<td>" + e[i].CourseName + "</td>"));
                            row.append($("<td>" + e[i].PlatformName_TH + "</td>"));
                            row.append($("<td class='text-right'>" + e[i].avgScore + "</td>"));

                            if (e[i].UpdateDate && !e[i].UpdateDate.includes('0001-01-01'))
                                row.append($("<td class='text-center'>" + e[i].UpdateDate.split('T')[0] + "</td>"));
                            else
                                row.append($("<td></td>"));

                            if (e[i].IsActive == 1)
                                row.append($("<td  class='text-center'> <img src='@Url.Content("~/assets/images/svg/icon-check-green.svg")' class='light-logo' /></td>"));
                            else
                                row.append($("<td  class='text-center'> <img src='@Url.Content("~/assets/images/svg/icon-cross.svg")' class='light-logo' /> </td>"));

                            var url = "@Url.Content("~/Courses/Detail/")"+ e[i].ID_Course;
                            row.append($("<td class='text-center'><a href='"+url+"' target='_blank'><img src='@Url.Content("~/assets/images/svg/icon-edit-blue.svg")' class='light-logo' /></a> </td>"));

                        }
                    }
                }
            });
    }
    </script>
}
