
@{
    ViewData["Title"] = "Instuctor Profile";
    ViewData["MainTitle"] = "I-Manage";
}
@using LDMS.ViewModels;
@model LDMS_M_Instructor
 
<div style="width:100%">
    <div class="card">
        <div class="form-group m-2 row">
            <div class="col-7">
                <h4 class="card-title">General Information</h4>
            </div>
            <div class="col-5" style="text-align:right">
                <button id="btnEdit" class="btn btn-success waves-effect waves-light btn-command" onclick="window.location.href = '@Url.Action("Detail", "Instructor")/@Model.ID'; return false;">Edit</button>
                <button id="btnBack" class="btn btn-danger waves-effect waves-light  btn-command" onclick="window.location.href = '@Url.Action("Index", "Instructor")'; return false;">Back</button>
            </div>
        </div>
    </div>
    <div class="card">
        <form class="form">
            @Html.AntiForgeryToken()
            <div class="card-block collapse show b-t">
                <div class="m-t-30 text-center">
                    @if (Model.Path_Image != null & Model.Path_Image != "")
                    {
                        <img src="@Model.Path_Image" class="img-circle" width="120">
                    }
                    <h4 class="card-title m-t-10">@Model.Instructor_Name</h4>
                    <h6 class="card-subtitle">@Model.Instructor_ID</h6>
                </div>
            </div>
            <div class="form-group m-2 row">
                <label class="col-2 col-form-label" style="text-align:right">Instructor ID</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.Instructor_ID</label>
                </div>
                <label class="col-2 col-form-label" style="text-align:right">Organization</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.Organization</label>
                </div>
            </div>
            <div class="form-group m-2 row">
                <label class="col-2 col-form-label" style="text-align:right">Instructor Name</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.Instructor_Name</label>
                </div>
                <label class="col-2 col-form-label" style="text-align:right">Address</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.Address</label>
                </div>
            </div>
            <div class="form-group m-2 row">
                <label class="col-2 col-form-label" style="text-align:right">Type</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.TypeName</label>
                </div>
                <label class="col-2 col-form-label" style="text-align:right">District</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.DISTRICT_NAME</label>
                </div>
            </div>
            <div class="form-group m-2 row">
                <label class="col-2 col-form-label" style="text-align:right">Status</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@(Model.IsActive? LDMS.WEB.Resources.Enum.e_Status_Active: LDMS.WEB.Resources.Enum.e_Status_Inactive)</label>
                </div>
                <label class="col-2 col-form-label" style="text-align:right">Sub Province</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.AMPHUR_NAME</label>
                </div>

            </div>
            <div class="form-group m-2 row">
                <label class="col-2 col-form-label" style="text-align:right">Department</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.DepartmentName_EN</label>
                </div>
                <label class="col-2 col-form-label" style="text-align:right">Province</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.PROVINCE_NAME</label>
                </div>

            </div>

            <div class="form-group m-2 row">
                <label class="col-2 col-form-label" style="text-align:right">Phone</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.Phone</label>
                </div>
                <label class="col-2 col-form-label" style="text-align:right">Post Code</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.Post_Code</label>
                </div>

            </div>
            <div class="form-group m-2 row">
                <label class="col-2 col-form-label" style="text-align:right">Email</label>
                <div class="col-4">
                    <label class="col-form-label text-primary" style="text-align:left">@Model.Email</label>
                </div>
            </div>
        </form>
    </div>
    <div class="card">
        <div class="form-group m-2 row">
            <div class="col-6">
                <h4 class="card-title">Experience Information</h4>
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-3 col-form-label" style="text-align:right">Attach File</label>
            @if (Model.Path_Certificate != null && Model.Path_Certificate != "")
            {
                <label class="col-2 col-form-label text-primary" style="text-align:left"><a href="@Model.Path_Certificate" target="_blank">Cerfiticate</a></label>
            }
        </div>
        <div class="form-group m-2 row">
            <label class="col-3 col-form-label" style="text-align:right">Education Level</label>
            <div class="col-8">
                <label class="col-form-label text-primary" style="text-align:left">@Model.Education_Level</label>
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-3 col-form-label" style="text-align:right">Major</label>
            <div class="col-8">
                <label class="col-form-label text-primary" style="text-align:left">@Model.Major</label>
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-3 col-form-label" style="text-align:right">Course Expperience</label>
            <div class="col-8">
                <label class="col-form-label text-primary" style="text-align:left">@Model.Course_Experience</label>
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-3 col-form-label" style="text-align:right">Skill & Profressional</label>
            <div class="col-8">
                <label class="col-form-label text-primary" style="text-align:left">@Model.Skill_Professional</label>
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-3 col-form-label" style="text-align:right">Customer Reference</label>
            <div class="col-8">
                <label class="col-form-label text-primary" style="text-align:left">@Model.Customer_Reference</label>
            </div>
        </div>
        <div class="form-group m-2 row">
            <label class="col-3 col-form-label" style="text-align:right">Manufacturing Area</label>
            <div class="col-8">
                <label class="col-form-label text-primary" style="text-align:left">@Model.Manufacturing_Area</label>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-block">
                        <div class="col-6"> <h4 class="card-title">Courses</h4> </div>
                        <div class="table-responsive m-t-40">
                            <table id="tdClass" class="display nowrap table table-hover table-striped table-bordered color-table info-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Course ID</th>
                                        <th>Course Name</th>
                                        <th>Platform</th>
                                        <th>AVG.Score</th>
                                        <th>Lasted</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        LoadClass();
    });

    function LoadClass() {
        $("#tdClass tbody > tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/Instructor/GetClass")',
                data: { "insID": '@Model.ID', "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                dataType: 'json',
                success: function (e) {
                    if (e != null) {
                        for (var i = 0; i < e.length; i++) {
                            var row = $("<tr />");
                            $("#tdClass tbody").append(row);
                            row.append($("<td>" + (i + 1) + "</td>"));

                            row.append($("<td class='text-center'>" + e[i].CourseID + "</td>"));
                            row.append($("<td>" + e[i].CourseName + "</td>"));
                            row.append($("<td>" + e[i].PlatformName_TH + "</td>"));
                            row.append($("<td class='text-right'>" + e[i].avgScore + "</td>"));

                            if (e[i].UpdateDate && !e[i].UpdateDate.includes('0001-01-01'))
                                row.append($("<td class='text-center'>" + e[i].UpdateDate.split('T')[0] + "</td>"));
                            else
                                row.append($("<td></td>"));

                            if (e[i].IsActive == 1)
                                row.append($("<td  class='text-center'> <img src='@Url.Content("~/assets/images/svg/icon-check-green.svg")' class='light-logo' /></td>"));
                            else
                                row.append($("<td  class='text-center'> <img src='@Url.Content("~/assets/images/svg/icon-cross.svg")' class='light-logo' /> </td>"));

                            row.append($("<td><a href=\" \"><img src='@Url.Content("~/assets/images/svg/icon-edit-blue.svg")' class='light-logo' /></a> </td>"));

                        }
                    }
                }
            });
    }
    </script>
}
