@{
    ViewData["Title"] = "User Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Header{
    <script src="~/assets/plugins/highchart/highcharts.js"></script>
    <script src="~/assets/plugins/highchart/modules/exporting.js"></script>
    <script src="~/assets/plugins/highchart/modules/export-data.js"></script>
}
@section NavHeader{
    <h3 class="text-themecolor m-b-0 m-t-0">I-Manage</h3>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">I-Manage</a></li>
        <li class="breadcrumb-item active">I-Manage Learning Performance</li>
    </ol>
}
<div class="text-center">
    <div class="row">
        <div class="form-group">
            <label for="">Employee ID</label>
        </div>
        <div class="form-group">
            <label for="">Employee Name</label>
        </div>
        <div class="form-group">
            <label for="">Department</label>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="info">
                        <th style="text-align:center">#</th>
                        <th style="text-align:center">Employee ID</th>
                        <th style="text-align:center">Employee Name</th>
                        <th style="text-align:center">Department</th>
                        <th style="text-align:center">Status</th>
                        <th style="text-align:center">Edit</th>
                        <th style="text-align:center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var std in ViewData["Users"] as IList<LDMS.ViewModels.LDMS_M_User>)
                    {
                        <tr>
                            <td style="text-align:center">#</td>
                            <td style="text-align:center">@std.EmployeeID</td>
                            <td style="text-align:center">@std.Name   @std.Surname</td>
                            <td style="text-align:center">@std.LDMS_M_Department.DepartmentID - @std.LDMS_M_Department.DepartmentName_EN</td>
                            @if (@std.IsAD == 1)
                            {
                                <td style="text-align:center">"AD"</td>
                            }
                            else
                            {
                                <td style="text-align:center">"None AD"</td>
                            }
                            <td style="text-align:center"><img /></td>
                            <td style="text-align:center"></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @*@foreach (var std in ViewData["Users"] as IList<LDMS.ViewModels.LDMS_M_User>)
        {
            <div class="form-group row col-md-12">
                <div class="col-3">  @std.Name </div>
                <div class="col-3">  @std.Surname </div>
                <div class="col-3">  @std.Email </div>
                <div class="col-3">  @std.Gender </div>
            </div>
        }*@
    </div>
</div> 