
@{
    ViewData["Title"] = "Course Information";
    ViewData["MainTitle"] = "I-Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model LDMS.ViewModels.LDMS_M_Course;
<div class="panel panel-primary" style="margin-top:-15px;width:100%;">
    <form id="frmCourseDetailEditor">
        <div class="panel-body" style="width:100%;">
            <div class="form-horizontal" style="margin-right: 25px; margin-left: -25px; margin-top: 25px">
                <div class="row form-group">
                    <div class="col-sm-1 col-md-3">
                        <h4><span class="pull-right">Course Infomation</span></h4>
                    </div>
                    <div class="col-sm-2 col-md-2 offset-5">
                        <a id="btnSaveCourse" onclick="SaveCourse();" class="btn btn-outline-success waves-effect waves-light" style="width:90%;">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/save.svg" />&nbsp;&nbsp;Save
                        </a>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-left:-25px">
                        <a id="btnBack" onclick="window.location.href = '@Url.Action("Index", "Courses")';" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:90%;">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div style="border-width:thin; border-style:solid; margin-left:20px; display:block; margin-top: 5px; margin-bottom:5px; width:95%;display:block">
        </div>
        <div class="form-horizontal" style="margin-right: 25px; margin-left: -25px; margin-top: 25px">
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Course ID</label>
                    </span>
                </div>

                @if (Model != null)
                {
                    <input type="hidden" id="hID" name="hID" value=@Model.ID />
                    <input type="hidden" id="hCourseID" name="hCourseID" value=@Model.CourseID />
                    <input type="hidden" id="hID_LearnMethod" name="hID_LearnMethod" value=@Model.ID_LearnMethod />
                    <input type="hidden" id="hID_CourseType" name="hID_CourseType" value=@Model.ID_CourseType />
                    <input type="hidden" id="hIsRefreshment" name="hIsRefreshment" value=@Model.IsRefreshment />
                    <input type="hidden" id="hRefreshmentPeriod" name="hRefreshmentPeriod" value=@Model.RefreshmentPeriod />
                    <input type="hidden" id="hRefreshmentUnit" name="hRefreshmentUnit" value=@Model.RefreshmentUnit />
                    <input type="hidden" id="hID_PlantTarget" name="hID_PlantTarget" value=@Model.ID_PlantTarget />
                    <input type="hidden" id="hID_CenterTarget" name="hID_CenterTarget" value=@Model.ID_CenterTarget />
                    <input type="hidden" id="hID_DivisionTarget" name="hID_DivisionTarget" value=@Model.ID_DivisionTarget />
                    <input type="hidden" id="hID_DepartmentTarget" name="hID_DepartmentTarget" value=@Model.ID_DepartmentTarget />
                    <input type="hidden" id="hID_SectionTarget" name="hID_SectionTarget" value=@Model.ID_SectionTarget />
                    <input type="hidden" id="hIsActive" name="hIsActive" value=@Model.IsActive />

                }
                else
                {
                    <input type="hidden" id="hID" name="hID" value="null" />
                }

                <div class="col-sm-4 col-md-4">
                    <input type="text"
                           title="Auto Gen"
                           id="txtCourseID"
                           value="Auto Genarate"
                           disabled="disabled"
                           style="width: 100%"
                           class="form-control input-sm" />
                </div>
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Course Name</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <input type="text"
                           title="Please Enter Course Name"
                           id="txtCourseName"
                           asp-for="CourseName"
                           style="width: 100%"
                           class="form-control input-sm" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Course Type</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectCourseType"
                            name="selectCourseType"
                            title="Please Select Course Type"
                            class="form-control"
                            style="width: 100%">
                    </select>
                </div>
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Learn Method</label>
                    </span>
                </div>
                <div class="col-sm-2 col-md-4">
                    <select id="selectLearnMethod"
                            name="selectLearnMethod"
                            title="Please Select Learn Method"
                            class="form-control"
                            style="width: 100%">
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Course Status</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-4">
                    <select id="selectCourseStatus"
                            name="selectCourseStatus"
                            title="Please Select Course Status"
                            class="form-control"
                            style="width: 100%">
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Objective</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-10">
                    <textarea id="txtObjective"
                              name="Objective"
                              asp-for="Objective"
                              rows="5" style="width:100%"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Description</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-10">
                    <textarea id="txtDescription"
                              name="Description"
                              asp-for="Description"
                              rows="5" style="width:100%"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Outline</label>
                    </span>
                </div>
                <div class="col-sm-4 col-md-10">
                    <textarea id="txtOutline"
                              name="OutLine"
                              asp-for="OutLine"
                              rows="5" style="width:100%"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-2 col-md-2">
                    <span class="pull-right">
                        <label class="LabelCaption">Refreshment</label>
                    </span>

                </div>
                <div class="col-sm-1 col-md-1">
                    <input type='checkbox'
                           name='selRefresh'
                           value='0'
                           id="selRefresh" /><label for="selRefresh" style="top:4px"></label>
                </div>
                <div class="col-sm-1 col-md-1">
                    <span class="pull-left">
                        <label class="LabelCaption">Period</label>
                    </span>
                </div>
                <div class="col-sm-2 col-md-1">
                    <input type="number"
                           title="Please Enter Period"
                           id="txtRefreshmentPeriod"
                           asp-for="RefreshmentPeriod"
                           style="width: 100%"
                           class="form-control input-sm"
                           disabled="disabled" />

                </div>
                <div class="col-sm-2 col-md-2">
                    <select id="selectRefreshmentUnit"
                            name="selectRefreshmentUnit"
                            asp-for="RefreshmentUnit"
                            title="Please Select RefreshmentUnit"
                            class="form-control"
                            style="width: 100%"
                            disabled="disabled">
                        <option value="0">Day</option>
                        <option value="1">Month</option>
                        <option value="2">Year</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-horizontal" style="margin-right: 25px; margin-left: -25px; margin-top: 50px">
            <div class="row form-group">
                <div class="col-sm-1 col-md-3">
                    <h4><span class="pull-right">Target Audience</span></h4>
                </div>
                <div class="col-sm-1 col-md-1">
                    <span class="pull-right">
                        <label class="LabelCaption">Total</label>
                    </span>
                </div>
                <div class="col-sm-1 col-md-1">
                    <span class="pull-right">
                        <input type="text" id="txtTotal" class="form-control" disabled="disabled" />
                    </span>
                </div>
                <div class="col-sm-1 col-md-1">
                    <span class="pull-right">
                        <label class="LabelCaption"> Remain </label>
                    </span>
                </div>
                <div class="col-sm-1 col-md-1">
                    <span class="pull-right">
                        <input type="text" id="txtRemain" class="form-control" disabled="disabled" />
                    </span>
                </div>
                <div class="col-sm-1 col-md-1 offset-3">
                </div>
                <div class="col-sm-1 col-md-1" style="margin-left:-25px">
                    <a href="#divTargetAudience" id="btnTargetAudience" onclick="VisiblePanel()" data-toggle="collapse" style="padding-left:40px;font-size:36px;" class="fa fa-plus-square"></a>
                </div>
            </div>
        </div>
        <div style="border-width:thin; border-style:solid; margin-left:20px; display:block; margin-top: 5px; margin-bottom:5px; width:95%;display:block">
        </div>
        <div id="divTargetAudience" class="collapse show">
            <div id="divEmployee" style="border-width:thin; border-style:solid; margin-left:20px; display:block; margin-top: 0px; margin-bottom:20px; width:95%;display:block">
                <div class="row form-group" style="margin-top:10px">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Employee ID</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-9">
                        <textarea id="txtEmployeeID"
                                  name="txtEmployeeID"
                                  asp-for="TargetEmployeeID"
                                  rows="5" style="width:100%"></textarea>
                    </div>
                    <div class="col-sm-1 col-md-1 pull-left">
                        <a id="btnSearchEmployee" class="btn btn-group" style="width:90%; color:midnightblue" onclick="OpenEmployee()">
                        <img src='@Url.Content("~/assets/images/svg/icon-user.svg")' width="34" height="34" class='light-logo' alt='homepage' title="Find" /></a>
                    </div>
                </div>
            </div>
            <div id="divTarget" style="border-width:thin; border-style:solid; margin-top: -10px; margin-left:20px; display:block; width:95%; display:block">
                <div class="row form-group" style="margin-top:10px">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Plant<font color="#f60b0b"></font></label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectPlant"
                                name="selectPlant"
                                title="Please Enter Plant"
                                class="form-control required"
                                style="width: 100%">
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <span class="pull-left" style="vertical-align:middle">
                            <label class="LabelCaption">Center<font color="#f60b0b"></font></label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectCenter"
                                name="selectCenter"
                                title="Please Enter Center"
                                class="form-control required"
                                style="width: 100%"
                                disabled="disabled">
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Division<font color="#f60b0b"></font></label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectDivision"
                                name="selectDivision"
                                title="Please Enter Division"
                                class="form-control required"
                                style="width: 100%"
                                disabled="disabled">
                        </select>
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <span class="pull-left" style="vertical-align:middle">
                            <label class="LabelCaption">Department<font color="#f60b0b"></font></label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectDepartment"
                                name="selectDepartment"
                                title="Please Enter Department"
                                class="form-control required"
                                style="width: 100%"
                                disabled="disabled">
                        </select>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Section<font color="#f60b0b"></font></label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectSection"
                                name="selectSection"
                                title="Please Enter Section"
                                class="form-control required"
                                style="width: 100%"
                                disabled="disabled">
                        </select>
                    </div>
                </div>
            </div>
            <div id="divJob" style="border-width:thin; border-style:solid; margin-top: 5px; margin-left:20px; display:block; width:95%; padding-bottom:10px; display:block">
                <div class="row form-group" style="margin-top:10px">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Job Grade<font color="#f60b0b"></font></label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text" id="txtJobgrade" name="txtJobgrade"
                               asp-for="JobGradeTargetID" class="form-control" />
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <a id="findJobGrade" class="btn" onclick="openModalJobGrade()"><i class="fa fa-search"></i> </a>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right" style="vertical-align:middle">
                            <label class="LabelCaption">Job Title<font color="#f60b0b"></font></label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text" id="txtJobTitle" name="txtJobTitle"
                               asp-for="JobTitleTargetID" class="form-control" />
                    </div>
                    <div class="col-sm-1 col-md-1">
                        <a id="findJobTitle" class="btn" onclick="openModalJobTitle()"><i class="fa fa-search"></i> </a>
                    </div>
                </div>
            </div>
            <div class="row form-group"></div><div class="row form-group"></div><div class="row form-group"></div><div class="row form-group"></div>
        </div>

        <div id="divClass" class="form-horizontal" style="display:none">
            <div class="panel-body" style="width:100%;">
                <div class="row form-group" style="margin-top:20px;">
                    <div class="col-sm-1 col-md-2 offset-8">
                        <a id="btnAddClass" class="btn btn-outline-success waves-effect waves-light" onclick="AddClass();" style="width:80%;">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/add-button-circle.svg" />&nbsp;&nbsp;Add Class
                        </a>
                    </div>
                    <div class="col-sm-1 col-md-2">
                        <a id="btnDelClass" class="btn btn-outline-danger inactive waves-effect waves-light" onclick="DeleteClass();" style="width:80%;">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-delete-red.svg" />&nbsp;&nbsp;Delete
                        </a>
                    </div>
                </div>
                <div class="table-responsive m-t-40">
                    <table class="display dataTable" width="100%" id="dtClassList">
                        <thead style="background-color:#f6f6f6;color:#1c94c4">
                            <tr>
                                <th style="text-align:center;width:100px">No</th>
                                <th style="text-align:center;width:150px">Class ID</th>
                                <th style="text-align:center;width:150px">Instructor</th>
                                <th style="text-align:center;width:150px">Learning</th>
                                <th style="text-align:center;width:150px">Register</th>
                                <th style="text-align:center;width:150px">Fee</th>
                                <th style="text-align:center;width:150px">Capacity</th>
                                <th style="text-align:center;width:150px">Venue</th>
                                <th style="text-align:center;width:150px">Status</th>
                                <th style="text-align: center;width:50px">Register</th>
                                <th style="text-align: center;width:50px">Edit</th>
                                <th style="text-align:center;width:50px">
                                    <input type='checkbox'
                                           name='selectClass_all'
                                           value='selectClass_all'
                                           id="selectClass_all" style="color:white;"
                                           onclick="checkClassAll(this)" /><label for="selectClass_all" style="top:5px"> </label>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


    </form>


    <div class="modal" id="modSearhEmployee" style="padding-top:-25px;" tabindex="-1" role="dialog" aria-labelledby="modAlertLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="background-color:white;border-radius:2%;width:150%">
            <div class="modal-content" style="margin-top:100px;width:120%">
                <div class="modal-header card-header" style="padding-top:0px;">
                    <h4 class="modal-title" id="lblMATiltle">Search Employee</h4>
                </div>
                <div class="modal-body" style="min-height:20px">
                    <div class="form-horizontal" style="margin-top:20px">
                        <div class="row form-group" style="margin-top:10px">
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Employee ID</label>
                                </span>
                            </div>
                            <div class="col-sm-2 col-md-4">
                                <input type="text" id="txtFilterEmployeeID" class="form-control input-sm" required />
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Employee Name</label>
                                </span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <input type="text" id="txtFilterEmployeeName" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right" style="vertical-align:middle">
                                    <label class="LabelCaption">Department</label>
                                </span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <select id="selectEmpDepartment"
                                        name="selectEmpDepartment"
                                        title="Please Enter Department"
                                        class="form-control required"
                                        onchange="changeEmpDepartment(this)"
                                        style="width: 100%">
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right" style="vertical-align:middle">
                                    <label class="LabelCaption">Section</label>
                                </span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <select id="selectEmpSection"
                                        name="selectEmpSection"
                                        title="Please Enter Section"
                                        class="form-control required"
                                        style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right" style="vertical-align:middle">
                                    <label class="LabelCaption">Job Grade</label>
                                </span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <select id="selectEmpJobgrade"
                                        name="selectEmpJobgrade"
                                        title="Please Enter Job Grade"
                                        class="form-control required"
                                        style="width: 100%">
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right" style="vertical-align:middle">
                                    <label class="LabelCaption">Job Title</label>
                                </span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <select id="selectEmpJobTitle"
                                        name="selectEmpJobTitle"
                                        title="Please Enter JOb Title"
                                        class="form-control required"
                                        style="width: 100%">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-3 col-md-3" style="margin-left:25rem; margin-top:20px">
                                <a id="btnSearch" class="btn btn-outline-secondary waves-effect waves-light" style="width:70%" onclick="SearchEmployee();">
                                    <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />&nbsp;&nbsp;Search
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" style="overflow-y:auto; height:300px">
                        <table class="display dataTable" id="dtEmployee" style="padding-top:5px">
                            <thead class="sticky-top">
                                <tr>
                                    <!--<th style="text-align:center;width:100px">No</th>-->
                                    <th style="text-align:center;width:100px">EMP ID</th>
                                    <th style="text-align:center">Emp Name</th>
                                    <th style="text-align:center">Department</th>
                                    <th style="text-align:center">Section</th>
                                    <th style="text-align:center">Job Grade</th>
                                    <th style="text-align:center">Job Title</th>
                                    <th style="text-align:center;margin-top:5px">
                                        <input type='checkbox'
                                               name='selectEmp_all'
                                               value='selectEmp_all'
                                               id="selectEmp_all"
                                               onclick="checkEmployeeAll(this)" /><label for="selectEmp_all" style="top:15px"> </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-group" style="align-items:center">
                    <div class="col-sm-1 col-md-2 offset-10" style="margin-left:20rem; margin-top:20px">
                        <a id="btnSave" class="btn btn-outline-primary waves-effect waves-light" style="width:100%" onclick="return SelectEmployee();">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/right.svg" />&nbsp;&nbsp;Select
                        </a>
                    </div>
                    <div class="col-sm-1 col-md-2" style="margin-top:20px">
                        <a id="btnClose" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:100%" onclick="ClosedEmployee()">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modJobGrade" style="padding-top:-25px;" tabindex="-1" role="dialog" aria-labelledby="modAlertLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="background-color:white;border-radius:2%;width:150%">
            <div class="modal-content" style="margin-top:100px;width:120%">
                <div class="modal-header card-header"  style="padding-top:0px;">
                    <h4 class="modal-title" id="lblMATiltle">Job Grade</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" style="overflow-y:auto; height:550px">
                        <table class="display dataTable" id="dtJobGrade" style="padding-top:5px">
                            <thead class="sticky-top">
                                <tr>
                                    <!--<th style="text-align:center;width:100px">No</th>-->
                                    <th style="text-align:center">Job Grade ID</th>
                                    <th style="text-align:center">Job Grade Name</th>
                                    <th style="text-align:center;margin-top:5px">
                                        <input type='checkbox'
                                               name='selectjobGrade_all'
                                               value='selectjobGrade_all'
                                               id="selectjobGrade_all"
                                               onclick="checkJobGradeAll(this)" /><label for="selectjobGrade_all" style="top:15px"> </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-group" style="align-items:center">
                    <div class="col-sm-1 col-md-2 offset-10" style="margin-left:20rem; margin-top:20px">
                        <a id="btnSelJobGrade" class="btn btn-outline-primary waves-effect waves-light" style="width:100%" onclick="SelectJobGrade()">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/right.svg" />&nbsp;&nbsp;Select 
                        </a>
                    </div>
                    <div class="col-sm-1 col-md-2" style="margin-top:20px">
                        <a id="btnCloseJobGrade" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:100%" onclick="CloseModalJobGrade()">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="modJobTitle" style="padding-top:-25px;" tabindex="-1" role="dialog" aria-labelledby="modAlertLabel" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" style="background-color:white;border-radius:2%;width:150%">
            <div class="modal-content" style="margin-top:100px;width:120%">
                <div class="modal-header card-header"  style="padding-top:0px;">
                    <h4 class="modal-title" id="lblMATiltle">Job Title</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" style="overflow-y:auto; height:550px">
                        <table class="display dataTable" id="dtJobTitle" style="padding-top:5px">
                            <thead  class="sticky-top">
                                <tr>
                                    <!--<th style="text-align:center;width:100px">No</th>-->
                                    <th style="text-align:center">Job Title ID</th>
                                    <th style="text-align:center">Job Title Name</th>
                                    <th style="text-align:center;margin-top:5px">
                                        <input type='checkbox'
                                               name='selectjobTitle_all'
                                               value='selectjobTitle_all'
                                               id="selectjobTitle_all"
                                               onclick="checkJobTitleAll(this)" /><label for="selectjobTitle_all" style="top:15px"> </label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row form-group" style="align-items:center">
                    <div class="col-sm-1 col-md-2 offset-10" style="margin-left:20rem; margin-top:20px">
                        <a id="btnSelJobTitle" class="btn btn-outline-primary waves-effect waves-light" style="width:100%" onclick="return SelectJobTitle()">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/right.svg" />&nbsp;&nbsp;Select
                        </a>
                    </div>
                    <div class="col-sm-1 col-md-2" style="margin-top:20px">
                        <a id="btnCloseJobTitle" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:100%" onclick="CloseModalJobTitle()">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{

    <style type="text/css">
        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {

            $("input[type='datetime']").datepicker();
            $('select').select2({
                allowClear: true,
                closeOnSelect: true,
                theme: "bootstrap"
            });

            LoadData($('#hID').val());

            GetClassRemain($('#hID').val());

            validation();

             $("#selectPlant").change(function() {
                //$("#additionalOptions").show();
                changePlant(this);
             });

            $("#selectCenter").change(function() {
                //$("#additionalOptions").show();
                changeCenter(this);
            });

            $("#selectDivision").change(function() {
                //$("#additionalOptions").show();
                changeDivision(this);
            });

            $("#selectDepartment").change(function() {
                //$("#additionalOptions").show();
                changeDepartment(this);
            });
        });

        function AddClass() {
            $.ajax({
                    url: "/Courses/NewClass",
                    type: "GET",
                    data: {
                    ID_Course : $('#hID').val()
                },
                success: function (e) {
                   // alert('AddClass Success : ' + e);
                    //MessageController.Success("AddClass Completed.", "Success");
                    window.location.href = '@Url.Content("~/Courses/AddClass/")' + e;
                },
            }
          )
        }

        function LoadClassEdit(ID) {
             //alert('LoadClassEdit : ' + ID )
             window.location.href = '@Url.Content("~/Courses/ClassDetail/")' + ID;
        }

         function LoadClassRegister(ID_Class) {
             alert('go to => ~/CourseRegister/Index/' + $('#hID').val() + '/' + ID_Class);
             window.location.href = '@Url.Content("~/CourseRegister/Index/")' + $('#hID').val() + '/' + ID_Class;
        }

        function checkJobTitleAll(e) {
             if (e.checked) {
                $(".chkSingleTitle").each(function () {
                    if (!this.checked) { this.checked = true; }
                });
            }
            else {
                $(".chkSingleTitle").each(function () {
                    if (this.checked) { this.checked = false; }
                });
            }
        }

        function checkJobGradeAll(e) {
             if (e.checked) {
                $(".chkSingleJob").each(function () {
                    if (!this.checked) { this.checked = true; }
                });
            }
            else {
                $(".chkSingleJob").each(function () {
                    if (this.checked) { this.checked = false; }
                });
            }
        }

        function checkEmployeeAll(e) {
            if (e.checked) {
                $(".chkSingle").each(function () {
                    if (!this.checked) { this.checked = true; }
                });
            }
            else {
                $(".chkSingle").each(function () {
                    if (this.checked) { this.checked = false; }
                });
            }
        }

        function checkClassAll(e) {
            if (e.checked) {
                $(".chkSingleClass").each(function () {
                    if (!this.checked) { this.checked = true; }
                });
            }
            else {
                $(".chkSingleClass").each(function () {
                    if (this.checked) { this.checked = false; }
                });
            }
        }

        function checkedRefresh(e) {
         /*if (e.hasAttribute("disabled")) {
             $('input').attr('disabled', 'disabled');
             $('select').attr('disabled', 'disabled');
          } else {
              //alert('The disabled attribute does not exist')

             document.getElementById("txtRefreshmentPeriod").disabled = false;
             document.getElementById("selectRefreshmentUnit").disabled = false;
          }*/
        }; 

        function changePlant(sel) {
            //alert('changePlant');
            $('#selectDivision').empty();
            $('#selectDepartment').empty();
            $('#selectSection').empty();

            var plantid = sel.value;
            ReloadCenter($, plantid, null);
        }

        function changeCenter(sel) {
            //alert('changeCenter');
            $('#selectDepartment').empty();
            $('#selectSection').empty();

            var centerId = sel.value;
            ReloadDivision($, centerId, null);
        }

        function changeDivision(sel) {
           // alert('changeDivision');
            $('#selectSection').empty();
            var divisionId = sel.value;
            ReloadDepartment($, divisionId, null);
        }

        function changeDepartment(sel) {
            //alert('changeDepartment');

            var departmentId = sel.value;
            ReloadSection($, departmentId, null);
        } 

        function validation() {
            $("#selRefresh").change( function(){
           if( $(this).is(':checked') ) {

                document.getElementById("txtRefreshmentPeriod").disabled = false;
                document.getElementById("selectRefreshmentUnit").disabled = false;
            }else{

               document.getElementById("txtRefreshmentPeriod").disabled = true;
               document.getElementById("selectRefreshmentUnit").disabled = true;
           }
          });
        }

        function openModalJobTitle() {
            LoadJobTitleList();
            $('#modJobTitle').modal('toggle'); 
            //SetDataTableModal('#dtJobTitle');
        }

        function CloseModalJobTitle() {
            $("#dtJobTitle tbody > tr").remove();
            $('#modJobTitle').modal('hide');
        }


        function openModalJobGrade() {
            LoadJobGradeList();
            $('#modJobGrade').modal('toggle');
           // SetDataTableModal('#dtJobGrade');
        }

        function CloseModalJobGrade() {
            $("#dtJobGrade tbody > tr").remove();
            $('#modJobGrade').modal('hide');
        }

        function OpenEmployee() {
            LoadEmpJobGrade();
            LoadEmpJobTitle();
            loadEmpDepartment(); 
            $('#modSearhEmployee').modal('toggle');
            SearchEmployee();
           // SetDataTableModal('#dtEmployee');
        }

        function ClosedEmployee() {
            $('#modSearhEmployee').modal('hide');
            $("#dtEmployee tbody > tr").remove();
            $("#selectEmp_all").checked = false;
        }

        function changeEmpDepartment(sel) {
            //alert(sel.value);
            var departmentId = sel.value;
            ReloadModSection($, departmentId, null);
        }

        function LoadData(ID) {
            if (ID !== "null") {

                document.getElementById("selectLearnMethod").disabled = true;
                document.getElementById("selectCourseType").disabled = true;


                loadPlant();
                LoadCourseLearnMethod();
                LoadCourseType();

                //loadCenter();
                //loadDivision();
                //loadDepartment();
                //loadSection();

                ReloadCenter($, $('#hID_PlantTarget').val(), null);
                ReloadDivision($, $('#hID_DivisionTarget').val(), null);
                ReloadDepartment($, $('#hID_DepartmentTarget').val(), null);
                ReloadDepartment($, $('#hID_SectionTarget').val(), null);

                LoadCourse(ID);
            }
            else {

                loadPlant();
                LoadCourseLearnMethod();
                LoadCourseType();
            }
        }

        function loadPlant() {
            //alert(' loadPlant');
            $.ajax({
                type: "GET",
                url: "/Master/GetAllPlants",
                success: function (response) {
                    var options = $('#selectPlant');
                    options.append($("<option />").val(null).text("Please select"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_Plant).text(this.PlantName_EN));
                    });
                    $('select[name="selectPlant"]').val($('#hID_PlantTarget').val()).trigger('change');
                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function loadCenter() {
            //alert('loadCenter');
            $.ajax({
                type: "GET",
                url: "/Master/GetAllCenters",
                success: function (response) {
                    var options = $('#selectCenter');
                    options.append($("<option />").val(null).text("Please select"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID).text(this.CenterName_EN));
                    });
                    $('select[name="selectCenter"]').val($('#hID_CenterTarget').val()).trigger('change');
                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function loadDivision() {

            //alert('loadDivision');
            $.ajax({
                type: "GET",
                url: "/Master/GetAllDivisions",
                success: function (response) {
                    var options = $('#selectDivision');
                    options.append($("<option />").val(null).text("Please select"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID).text('(' + this.DivisionID + ') ' + this.DivisionName_EN));
                    });

                    $('select[name="selectDivision"]').val($('#hID_DivisionTarget').val()).trigger('change');

                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function loadDepartment() {
             //alert('loadDepartment');
            $.ajax({
                type: "GET",
                url: "/Master/GetAllDepartments",
                success: function (response) {
                    var options = $('#selectDepartment');
                    var optionsMod = $('#selectEmpDepartment');
                    options.append($("<option />").val(null).text("Please select"));
                    optionsMod.append($("<option />").val(null).text("Please select"));

                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_Department).text('(' + this.DepartmentID + ') ' + this.DepartmentName_EN));
                        optionsMod.append($("<option />").val(this.ID_Department).text('(' + this.DepartmentID + ') ' + this.DepartmentName_EN));
                    });
                    $('select[name="selectDepartment"]').val($('#hID_DepartmentTarget').val()).trigger('change');
                    //$('select[name="selectEmpDepartment"]').val(null).trigger('change');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function loadSection() {
           //alert('loadSection');
            $.ajax({
                type: "GET",
                url: "/Master/GetAllSections",
                success: function (response) {

                    var options = $('#selectSection');
                    var optionsMod = $('#selectEmpSection');

                    options.append($("<option />").val(null).text("Please select"));
                    optionsMod.append($("<option />").val(null).text("Please select"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID).text('(' + this.SectionID + ') ' + this.SectionName_EN));
                        optionsMod.append($("<option />").val(this.ID).text('(' + this.SectionID + ') ' + this.SectionName_EN));

                    });
                    $('select[name="selectSection"]').val($('#hID_SectionTarget').val()).trigger('change');

                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function loadEmpDepartment() {
             //alert('loadDepartment');
            $.ajax({
                type: "GET",
                url: "/Master/GetAllDepartments",
                success: function (response) {
                    var optionsMod = $('#selectEmpDepartment');
                    optionsMod.append($("<option />").val(null).text("Please select"));

                    $.each(response.Data, function () {
                        optionsMod.append($("<option />").val(this.ID_Department).text('(' + this.DepartmentID + ') ' + this.DepartmentName_EN));
                    });
                  
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function ReloadCenter($, plantId, callback) {
            var options = $('#selectCenter');
            options.empty();
            if (plantId && plantId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllCentersByPlant",
                    data: {
                           plantId : plantId
                           },
                    success: function (response) {
                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            //if (this.ID_Plant == plantId) {
                               options.append($("<option />").val(this.ID_Center).text(this.CenterName_EN));
                            //}
                        });
                        $('select[name="selectCenter"]').val($('#hID_CenterTarget').val()).trigger('change');
                        document.getElementById("selectCenter").disabled = false;
                         // ReloadDivision($, $('#hID_CenterTarget').val(), null);
                        if (callback) {
                            //callback($("#userDivisionId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });



            }
        }

        function ReloadDivision($, centerId, callback) {
            //alert('ReloadDivision : ' + centerId);

            var options = $('#selectDivision');
            options.empty();
            if (centerId && centerId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllDivisionsByCenter",
                    data: {
                        centerId : centerId
                    },
                    success: function (response) {
                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            //if (this.ID_Center == centerId) {
                                options.append($("<option />").val(this.ID_Division).text('(' + this.DivisionID + ') ' + this.DivisionName_EN));
                            //}
                        });
                        $('select[name="selectDivision"]').val($('#hID_DivisionTarget').val()).trigger('change');
                        document.getElementById("selectDivision").disabled = false;
                        //ReloadDepartment($, $('#hID_DivisionTarget').val(), null);

                        if (callback) {
                            //callback($("#userDivisionId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });
            }
        }

        function ReloadDepartment($, divisionId, callback) {
            var options = $('#selectDepartment');
            options.empty();
            if (divisionId && divisionId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllDepartmentsByDivision",
                    data: {
                        divisionId : divisionId
                    },
                    success: function (response) {

                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            //if (this.ID_Division == divisionId) {
                                options.append($("<option />").val(this.ID_Department).text('(' + this.DepartmentID + ') ' + this.DepartmentName_EN));
                            //}
                        });

                        $('select[name="selectDepartment"]').val($('#hID_DepartmentTarget').val()).trigger('change');
                        document.getElementById("selectDepartment").disabled = false;
                         //ReloadSection($, $('#hID_DepartmentTarget').val(), null);

                        if (callback) {
                            //callback($("#userDepartmentId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });
            }
        }

        function ReloadSection($, departmentId, callback) {
            var options = $('#selectSection');
            options.empty();
            if (departmentId && departmentId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllSectionsByDepartment",
                    data: {
                        departmentId : departmentId
                    },
                    success: function (response) {
                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            //if (this.ID_Department == departmentId) {
                                options.append($("<option />").val(this.ID_Section).text('(' + this.SectionID + ') ' + this.SectionName_EN));
                            //}
                        });

                        $('select[name="selectSection"]').val($('#hID_SectionTarget').val()).trigger('change');
                        document.getElementById("selectSection").disabled = false;
                        if (callback) {
                            //callback($("#userSectionId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });
            }
        }

        function ReloadModSection($, departmentId, callback) {
            var options = $('#selectEmpSection');
            options.empty();
            if (departmentId && departmentId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllSections",
                    success: function (response) {
                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            if (this.ID_Department == departmentId) {
                                options.append($("<option />").val(this.ID_Section).text('(' + this.SectionID + ') ' + this.SectionName_EN));
                            }
                        });
                        //options.val($("#userSectionId").val()).trigger('change');
                        if (callback) {
                            //callback($("#userSectionId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });
            }
        }

        function LoadCourseLearnMethod() {
           $('#selectLearnMethod').empty();
                 $.ajax({
                url: "/Courses/GetAllCourseLearnMethod",
                type: "GET",
                    }).done(function (items) {
                        var options = $('#selectLearnMethod');
                        options.append($("<option />").val(null).text("--- Select All---"));
                        $.each(items, function () {
                            options.append($("<option />").val(this.ID).text(this.Course_LearnMethodName_EN));
                        });
                        $('select[name="selectLearnMethod"]').val($('#hID_LearnMethod').val());
                    });
        }

        function LoadCourseType() {
           $('#selectCourseType').empty();
                 $.ajax({
                url: "/Courses/GetAllCourseType",
                type: "GET",
            }).done(function (items) {
                var options = $('#selectCourseType');
                options.append($("<option />").val(null).text("Please select"));
                $.each(items, function () {
                    options.append($("<option />").val(this.ID).text(this.CourseTypeName_EN));
                });
                $('select[name="selectCourseType"]').val($('#hID_CourseType').val());
            });
        }

        function LoadEmpJobGrade() {
             $.ajax({
                type: "GET",
                url: "/Master/GetAllJobGrades",
                success: function (response) {
                    var options = $('#selectEmpJobgrade');
                    options.append($("<option />").val(null).text("Please select"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_JobGrade).text(this.JobGradeName_EN));
                    });
                    $('select[name="selectEmpJobgrade"]').val(null).trigger('change');
                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function LoadEmpJobTitle() {
           $.ajax({
                type: "GET",
                url: "/Master/GetAllJobTitles",
                success: function (response) {
                    var options = $('#selectEmpJobTitle');
                    options.append($("<option />").val(null).text("Please select"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_JobTitle).text(this.JobTitleName_EN));
                    });
                    $('select[name="selectEmpJobTitle"]').val(null).trigger('change');
                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function VisiblePanel() {
            //alert(document.getElementById("btnTargetAudience").className);

            if (document.getElementById("btnTargetAudience").className === "fa fa-minus-square") {
                document.getElementById("btnTargetAudience").className = "fa fa-plus-square";
            }
            else {
                document.getElementById("btnTargetAudience").className = "fa fa-minus-square";
            }
        }

        function SearchEmployee() {
           //alert('SearchEmployee');
            /*var searchmodel = {
                EmployeeID: $("#txtFilterEmployeeID").val(),
                EmployeeName: $("#txtFilterEmployeeName").val(),
                DepartmentID: $("#selectEmpDepartment").val(),
                SectionID: $("#selectEmpSection").val(),
                JobGradeID: $("#selectEmpJobgrade").val(),
                JobTitleID: $("#selectEmpJobTitle").val()
             };

            alert(JSON.stringify(searchmodel));*/
            MessageController.BlockUI({ boxed: true, target: '#dtEmployee' });
            $.ajax({
                url: "/Courses/EmployeeSearch",
                type: "Post",
                data: {
                     'EmployeeID': $("#txtFilterEmployeeID").val(),
                     'EmployeeName': $("#txtFilterEmployeeName").val(),
                     'DepartmentID': $("#selectEmpDepartment").val(),
                     'SectionID':  $("#selectEmpSection").val(),
                     'JobGradeID': $("#selectEmpJobgrade").val(),
                     'JobTitleID': $("#selectEmpJobTitle").val(),
                     "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val()
                },
                success: function (e) {
                    //alert(JSON.stringify(e));
                    RenderEmplooyee(e);
                    MessageController.UnblockUI('#dtEmployee');
                }
            })
        }

        function RenderEmplooyee(e) { 
            if ($.fn.dataTable.isDataTable('#dtEmployee')) {
                var table = $('#dtEmployee').DataTable();
                table.destroy();
            }
            $("#dtEmployee tbody > tr").remove();
                for (i = 0; i < e.length; i++) {
                    var row = $("<tr />");
                    $("#dtEmployee tbody").append(row);
                    //row.append('<td style="text-align:center">' + e[i].rownumber +'</td>');
                    row.append('<td style="text-align:center">' + e[i].EmployeeID + '</td>');
                    row.append('<td style="text-align:center">' + e[i].EmployeeName + '</td>');
                    row.append('<td style="text-align:center">' + e[i].DepartmentName_EN + '</td>');
                    row.append('<td style="text-align:center">' + e[i].SectionName_EN + '</td>');
                    row.append('<td style="text-align:center">' + e[i].JobGradeName_EN + '</td>');
                    row.append('<td style="text-align:center">' + e[i].JobTitleName_EN + '</td>');
                    row.append('<input type="hidden" id="hdSelect_EmployeeID_' + i + '" name="hdSelect_EmployeeID_' + i + '" value="' + e[i].EmployeeID + '" />');
                    row.append('<td style="text-align:center"><input type="checkbox" class="chkSingle" style="text-align:center; name="selectEmployee_' + i + '" value="selectEmployee_' + i + '" id="selectEmployee_' + i + '"/><label for="selectEmployee_'+ i +'"> </label> </td>');
            }
            $('#dtEmployee').DataTable({
                'processing': true,
                'paging': true,
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "bAutoWidth": false,
                "Filter": false,
                "info": false,
                "bPaginate": false,
                "bLengthChange": false,
                "pageLength": 4,
                "bJQueryUI": true, //Enable smooth theme
                "sPaginationType": "full_numbers", //Enable smooth theme
                "sDom": 'lfrtip'
            });
            $('.dataTables_length').addClass('bs-select');
        }

        function SelectEmployee() {
            //alert('SelectEmployee');
            var employeelist = '';
            var i = 0;

            while ($("#selectEmployee_" + i).val() === ("selectEmployee_" + i)) {
                if ($("#selectEmployee_" + i).prop("checked")) {

                    employeelist += $("#hdSelect_EmployeeID_" + i).val() + ',';
                }
                i++;
            }

            //alert(employeelist);
            //employeelist = employeelist.remove(employeelist.length);

            $('#txtEmployeeID').val( $('#txtEmployeeID').val() + employeelist);

            ClosedEmployee();
        }

        function LoadJobGradeList() {
            //alert('LoadJobGradeList');
            MessageController.BlockUI({ boxed: true,target: '#dtJobGrade' });
            $.ajax({
                type: "GET",
                url: "/Master/GetAllJobGrades",
                success: function (response) {
                    //alert(JSON.stringify(response));
                    RenderJobGrade(response);
                    MessageController.UnblockUI('#dtJobGrade');
                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function RenderJobGrade(e) {
            if ($.fn.dataTable.isDataTable('#dtJobGrade')) {
                var table = $('#dtJobGrade').DataTable();
                table.destroy();
            }
            $("#dtJobGrade tbody > tr").remove();
            var i = 0;
            $.each(e.Data, function () {
                    var row = $("<tr />");
                    $("#dtJobGrade tbody").append(row);
                    row.append('<td style="text-align:center">' + this.JobGradeID + '</td>');
                    row.append('<td style="text-align:center">' + this.JobGradeName_EN + '</td>');
                    row.append('<input type="hidden" id="hdSelect_JobgradeID_' + i + '" name="hdSelect_JobgradeID_' + i + '" value="' + this.JobGradeID + '" />');
                    row.append('<td style="text-align:center"><input type="checkbox" class="chkSingleJob" style="text-align:center; name="selectJobGrade_' + i + '" value="selectJobGrade_' + i + '" id="selectJobGrade_' + i + '"/><label for="selectJobGrade_'+ i +'"> </label> </td>');
                i++;
            });
            $('#dtJobGrade').DataTable({
                'processing': true,
                'paging': true,
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "bAutoWidth": false,
                "Filter": false,
                "info": false,
                "bPaginate": false,
                "bLengthChange": false,
                "pageLength": 8,
                "bJQueryUI": true, //Enable smooth theme
                "sPaginationType": "full_numbers", //Enable smooth theme
                "sDom": 'lfrtip'
            });
            $('.dataTables_length').addClass('bs-select');
        }
         
        function SelectJobGrade() {
            var jobGradelist = '';
            var i = 0;

            while ($("#selectJobGrade_" + i).val() === ("selectJobGrade_" + i)) {
                if ($("#selectJobGrade_" + i).prop("checked")) {

                    jobGradelist += $("#hdSelect_JobgradeID_" + i).val() + ',';
                }
                i++;
            }

            //alert(jobGradelist);
            //employeelist = employeelist.remove(employeelist.length);

            $('#txtJobgrade').val( $('#txtJobgrade').val() + jobGradelist);

            CloseModalJobGrade();
        }

        function LoadJobTitleList() {
             //alert('LoadJobTitleList');
            MessageController.BlockUI({ boxed: true,target: '#dtJobTitle' });
            $.ajax({
                type: "GET",
                url: "/Master/GetAllJobTitles",
                success: function (response) {
                    //alert(JSON.stringify(response));
                    RenderJobTitle(response);
                    MessageController.UnblockUI('#dtJobTitle');
                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
        }

        function RenderJobTitle(e) {
            if ($.fn.dataTable.isDataTable('#dtJobTitle')) {
                var table = $('#dtJobTitle').DataTable();
                table.destroy();
            }
            $("#dtJobTitle tbody > tr").remove();
            var i = 0;
            $.each(e.Data, function () {
                    var row = $("<tr />");
                    $("#dtJobTitle tbody").append(row);
                    row.append('<td style="text-align:center">' + this.JobTitleID + '</td>');
                    row.append('<td style="text-align:center">' + this.JobTitleName_EN + '</td>');
                    row.append('<input type="hidden" id="hdSelect_JobtitleID_' + i + '" name="hdSelect_JobtitleID_' + i + '" value="' + this.JobTitleID + '" />');
                    row.append('<td style="text-align:center"><input type="checkbox" class="chkSingleTitle" style="text-align:center; name="selectJobTitle_' + i + '" value="selectJobTitle_' + i + '" id="selectJobTitle_' + i + '"/><label for="selectJobTitle_'+ i +'"> </label> </td>');
                i++;
            }); 

            $('#dtJobTitle').DataTable({
                'processing': true,
                'paging': true,
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "bAutoWidth": false,
                "Filter": false,
                "info": false,
                "bPaginate": false,
                "bLengthChange": false,
                "pageLength": 8,
                "bJQueryUI": true, //Enable smooth theme
                "sPaginationType": "full_numbers", //Enable smooth theme
                "sDom": 'lfrtip'
            });
            $('.dataTables_length').addClass('bs-select');
        }

        function SelectJobTitle() {

            //alert('SelectJobTitle');
            var jobTitlelist = '';
            var i = 0;

            while ($("#selectJobTitle_" + i).val() === ("selectJobTitle_" + i)) {
                if ($("#selectJobTitle_" + i).prop("checked")) {

                    jobTitlelist += $("#hdSelect_JobtitleID_" + i).val() + ',';
                }
                i++;
            }

            //lert(jobTitlelist);
            //employeelist = employeelist.remove(employeelist.length);

            $('#txtJobTitle').val( $('#txtJobTitle').val() + jobTitlelist);

            CloseModalJobTitle();
        }

        /*$('#btnSaveCourse').click(function () {
            alert('Save Click');
            //SaveCourse();
        })*/

        function SaveCourse() {
            //alert('Save Click Outline : ' + $('#txtOutLine').val());
            MessageController.BlockUI({ boxed: true, target: '#frmCourseDetailEditor' });
            $.ajax({
                    url: "/Courses/InsertCourse",
                    type: "POST",
                    data: {
                        ID_Course :  $('#hID').val(),
                        CourseID : $('#txtCourseID').val(),
                        CourseName : $('#txtCourseName').val(),
                        ID_LearnMethod : $('#selectLearnMethod').val(),
                        ID_CourseType : $('#selectCourseType').val(),
                        Objective : $('#txtObjective').val(),
                        Description : $('#txtDescription').val(),
                        OutLine : $('#txtOutLine').val(),
                        IsRefreshment : $('#selRefresh').val(),
                        RefreshmentPeriod : $('#txtRefreshmentPeriod').val(),
                        RefreshmentUnit : $('#selectRefreshmentUnit').val(),
                        TargetEmployeeID : $('#txtEmployeeID').val(),
                        ID_PlantTarget : $('#selectPlant').val(),
                        ID_CenterTarget : $('#selectCenter').val(),
                        ID_DivisionTarget : $('#selectDivision').val(),
                        ID_DepartmentTarget : $('#selectDepartment').val(),
                        ID_SectionTarget : $('#selectSection').val(),
                        JobGradeTargetID : $('#txtJobgrade').val(),
                        JobTitleTargetID : $('#txtJobTitle').val(),
                        IsActive : $('#selectCourseStatus').val()
                },
                success: function (e) {
                    //debugger;
                        alert('ID : ' + $('#hID').val());
                        $('#hID').val(e.ID);
                        $('#txtCourseID').val(e.CourseID);
                        $('#divClass').attr("style", "display:block");
                        MessageController.UnblockUI('#frmCourseDetailEditor');
                        alert('Save Complete');
                },
                }
            )
        }

        function LoadCourse(ID) {

            $('#txtCourseID').val($('#hCourseID').val());
            $('#selRefresh').val($('#hIsRefreshment').val());
            $('#txtRefreshmentPeriod').val($('#RefreshmentPeriod').val());
            $('select[name="selectRefreshmentUnit"]').val($('#hRefreshmentUnit').val());
            $('#selectCourseStatus').val($('#hIsActive').val());

            $('#divClass').attr("style", "display:block");

            loadClass(ID)
        }

        function loadClass(ID) {

            //alert('Load Class : ' + ID)
            $.ajax({
                url: "/Courses/LoadClass",
                type: "POST",
                data: {
                    'ID': ID
                },
                success: function (e) {
                    //alert(JSON.stringify(e));
                    RenderClass(e);
                }
            })
        }

        function RenderClass(e) {
             $("#dtClassList tbody > tr").remove();
            for (i = 0; i < e.length; i++) {
                var row = $("<tr />");
                $("#dtClassList tbody").append(row);

                row.append('<td style="text-align:center">' + (i + 1) + '</td>');
                row.append('<td style="text-align:center">' + e[i].ClassID + '</td>');
                row.append('<td style="text-align:center">' + e[i].Instructor_Name + '</td>');
                row.append('<td style="text-align:center">' + e[i].LearnDateStart + '</td>');
                row.append('<td style="text-align:center">' + e[i].RegisterDate + '</td>');
                row.append('<td style="text-align:center">' + e[i].ClassFee + '</td>');
                row.append('<td style="text-align:center">' + e[i].Capacity + '</td>');
                row.append('<td style="text-align:center">' + e[i].RoomName_EN + '</td>');
                row.append('<td style="text-align:center">' + e[i].ClassStatus + '</td>');
                row.append('<td class="text-center"><a href="#"><img src=@Url.Content("~/assets/images/svg/icon-check-cycle.svg") width="28" height="28" onclick="LoadClassRegister('+ e[i].ID + ')" ></img></a></td>');
                row.append('<td class="text-center"><a href="#"><img src=@Url.Content("~/assets/images/svg/icon-edit-blue.svg") width="28" height="28" onclick="LoadClassEdit('+ e[i].ID +')" ></a></td>');
                //row.append('<td class="text-center"><img src=@Url.Content("~/assets/images/svg/icon-delete-red.svg") class="btn"></img></td>');
                row.append('<td style="text-align:center"><input type="checkbox" class="chkSingleClass" style="text-align:center; name="selectClass_' + i + '" value="selectClass_' + i + '" id="selectClass_' + i + '"/><label for="selectClass_'+ i +'"> </label> </td>');
                row.append('<input type="hidden" id="hdSelect_ID_' + i + '" name="hdSelect_ID_' + i + '" value="' + e[i].ID + '" />');
            }
        }

        function DeleteClass() {
            var classList = '';
            var i = 0;

            while ($("#selectClass_" + i).val() === ("selectClass_" + i)) {
                if ($("#selectClass_" + i).prop("checked")) {

                    classList += $("#hdSelect_ID_" + i).val() + ',';
                }
                i++;
            }

            if (classList === '') {
                 alert('กรุณาเลือก class');
            }
            else {
                $.ajax({
                url: "/Courses/DeleteClass",
                type: "POST",
                data: {
                    ID_Class: classList,
                   
                },
                success: function (e) {
                    alert('Delete Complete');
                    window.location.href = '@Url.Content("~/Courses/Detail/")' + $('#hID').val();
                }
            });
            }
            
            
        }

        function GetClassRemain(ID) {
            //alert('GetClassRemain');
            $.ajax({
                url: "/Courses/GetClassRemain",
                type: "GET",
                data: {
                    ID_Course: ID,
                    ID_Plant: @HttpContextAccessor.HttpContext.Request.Cookies["PLANTID"],
                    ID_Center: @HttpContextAccessor.HttpContext.Request.Cookies["CENTERID"],
                    ID_Division: @HttpContextAccessor.HttpContext.Request.Cookies["DIVISIONID"],
                    ID_Department: @HttpContextAccessor.HttpContext.Request.Cookies["DEPARTMENTID"],
                    ID_Section: @HttpContextAccessor.HttpContext.Request.Cookies["SECTIONTID"],
                },
                success: function (e) {
                    //alert(JSON.stringify(e));
                    $("#txtTotal").val(e.Total);
                    $("#txtRemain").val(e.Remain);
                }
            });
        }

    </script>
}
