@model List<LDMS.WEB.Models.Employee.EmployeeSectionView>
<table class="table table-striped table-hover table-fixed" id="dtListEmployee">
    <thead>
        <tr>
            <th style="text-align:center;width:100px">#</th>
            <th style="text-align:center">Employee ID</th>
            <th style="text-align:center">Employee Name</th>
            <th style="text-align:center;width:200px">Job Grade</th>
            <th style="text-align:center;width:200px">Job Title</th>
            <th style="text-align:center;width:150px">Section Head</th>
            <th style="text-align:center;width:300px">Section</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var std in Model)
            {
                <tr>
                    <td style="text-align:center;">@std.RowIndex</td>
                    <td style="text-align:center">@std.EmployeeID</td>
                    <td style="text-align:center">@std.Name @std.Surname</td>
                    <td style="text-align:center;">@std.JobGrade</td>
                    <td style="text-align:center;">@std.JobTitle</td>
                    <td style="text-align:right;">
                        @if (@std.IsSectionHead)
                        {
                            <input type="checkbox" name="selectSectionHead_@std.EmployeeID"
                                   checked
                                   id="selectSectionHead_@std.EmployeeID" style="width:100%;margin-left:100px;" /><label style="width:75px;" for="selectSectionHead_@std.EmployeeID"></label>
                        }
                        else
                        {
                            <input type="checkbox" name="selectSectionHead_@std.EmployeeID"
                                   id="selectSectionHead_@std.EmployeeID" style="width:100%;margin-left:100px;" /><label style="width:75px;" for="selectSectionHead_@std.EmployeeID"></label>
                        }
                    </td>
                    <td style="text-align:left;">
                        <select id="selectSection_@std.EmployeeID"
                                name="selectSection_@std.EmployeeID"
                                class="form-control required"
                                style="width: 100%">
                            <option value="null">--None---</option>
                            @foreach (var std2 in @std.LDMS_M_Sections)
                            {
                                @if (@std2.ID_Section == @std.ID_Section)
                                {
                                    <option value="@std2.ID_Section" selected="selected">@std2.SectionID - @std2.SectionName_EN</option>
                                }
                                else
                                {
                                    <option value="@std2.ID_Section">@std2.SectionID - @std2.SectionName_EN</option>
                                }
                            }
                        </select>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>