<!DOCTYPE html>
<html lang="en">
<head>
    <title>LDMS - @ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--- JS Lib-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-3.1.1.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/tether.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sticky-kit-master/dist/sticky-kit.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sparkline/jquery.sparkline.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/styleswitcher/jQuery.style.switcher.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/block-ui/jquery.blockUI.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <!--[if lt IE 9]>
        <script src="~/lib/html5shiv/html5shiv.js"></script>
        <script src="~/lib/respond.js/respond.min.js"></script>
    <![endif]-->
    <!--- JS plugins-->
    <script type="text/javascript" src="~/lib/datatable/datatables.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    @*<script src="~/lib/datatables/dataTables.bootstrap.js?v=bd93153bf9375d66780f086cda347bfb"></script>*@
    <script type="text/javascript" src="~/lib/datatables/jquery.dataTables.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/highchart/highcharts.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/highchart/modules/exporting.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/highchart/modules/export-data.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/selecttwo/js/select2.full.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sweetalert/sweetalert.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <!--- JS App-->
    <script type="text/javascript" src="~/assets/app/MessageController.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/assets/app/CookiesController.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/assets/app/LDMSUtility.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/waves.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/sidebarmenu.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/custom.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <!--- CSS-->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <link href="~/css/style.css" type="text/css" rel="stylesheet">
    <link href="~/css/LDMS.css" type="text/css" rel="stylesheet">
    <link href="~/css/colors/blue.css" id="theme" type="text/css" rel="stylesheet">
    <link href="~/css/svg-colorize.css" type="text/css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/selecttwo/css/select2.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/selecttwo/css/select2-bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/sweetalert/sweetalert.css" type="text/css" rel="stylesheet">
    <link href="~/lib/datatable/datatables.css" type="text/css" rel="stylesheet">
    @*<link href="~/lib/datatables/jquery.dataTables.min.css" type="text/css" rel="stylesheet">*@

    @RenderSection("Scripts", required: false)
    @RenderSection("Header", required: false)
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
</head>
<body class="fix-header card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <b>
                            <img src='@Url.Content("~/assets/images/logo-light-icon.png")' class="light-logo" alt="homepage" />
                            <img src='@Url.Content("~/assets/images/logo-light-text.png")' class="light-logo" alt="homepage" />
                        </b>
                    </a>
                </div>
                <div class="head-title"><h1>Learning and Development Management System</h1></div>
                <div class="logo-img"><img src="~/assets/images/svg/STT.svg" alt="homepage" /></div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="user-profile">
                <div class="profile-img">
                    <img src='@Url.Content(@HttpContextAccessor.HttpContext.Request.Cookies["FACEIMAGE"])' alt="user" />
                </div>
                <div class="profile-text">
                    <a href='@Url.Action("MyProfile", "Account")' aria-expanded="false">I am : @HttpContextAccessor.HttpContext.Request.Cookies["FULLNAME"]</a>
                    <a href='@Url.Action("MyProfile", "Account")' aria-expanded="false">My ID : @HttpContextAccessor.HttpContext.Request.Cookies["EMPLOYEEID"]</a>
                    <a href="#" style="pointer-events: none; display: inline-block;" aria-expanded="false">Join Date : @HttpContextAccessor.HttpContext.Request.Cookies["JOINDATE"]</a>
                    <a href="#" style="pointer-events: none; display: inline-block;" aria-expanded="false">Department : @HttpContextAccessor.HttpContext.Request.Cookies["DEPARTMENT"]</a>
                </div>
            </div>
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    @await Component.InvokeAsync("NavigationMenu")
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">@ViewData["MainTitle"]</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewData["Title"]</a></li>
                        </ol> 
                        @*@RenderSection("NavHeader", required: false)*@
                    </div>
                </div>
                <div class="row page-body">
                    @RenderBody()
                </div>
            </div>
            @*<footer class="footer">
                    ลิขสิทธิ์ © 2020 SONY TECHNOLOGY (THAILAND) CO., LTD. สงวนลิขสิทธิ์ เงื่อนไขในการใช้งานนโยบายส่วนบุคคล
                </footer>*@
        </div>
    </div>
</body>
</html>
<style type="text/css">
    .form-group {
        margin-bottom: 1.5rem;
    }
</style>
