<!DOCTYPE html>
<html lang="en">
<head>
    <title>LDMS - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="description" content="">
    <meta name="author" content="">
    <!--- JS Lib-->
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery-3.1.1.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jquery-ui/jquery-ui.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/tether/js/tether.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sticky-kit-master/dist/sticky-kit.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sparkline/jquery.sparkline.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/styleswitcher/jQuery.style.switcher.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/block-ui/jquery.blockUI.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/styleswitcher/jQuery.style.switcher.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sweetalert/sweetalert.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/waves.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/sidebarmenu.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/custom.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/magnific-popup/dist/jquery.magnific-popup.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/block-ui/jquery.blockUI.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sticky-kit-master/dist/sticky-kit.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sparkline/jquery.sparkline.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/styleswitcher/jQuery.style.switcher.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jslinq/linq.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/jslinq/linq.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <!--[if lt IE 9]>
        <script src="~/lib/html5shiv/html5shiv.js"></script>
        <script src="~/lib/respond.js/respond.min.js"></script>
    <![endif]-->
    <!--- JS plugins-->
    <script type="text/javascript" src="~/lib/datatables/js/jquery.dataTables.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/datatables/js/dataTables.bootstrap.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/datatables/js/dataTables.jqueryui.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <link href="~/lib/datatables/css/dataTables.jqueryui.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="~/lib/selecttwo/js/select2.full.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/sweetalert/sweetalert.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <!--- JS highcharts-->
    <script src="~/lib/highchart/highcharts.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script src="~/lib/highchart/highcharts-more.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script src="~/lib/highchart/modules/exporting.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script src="~/lib/highchart/modules/export-data.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script src="~/lib/highchart/modules/accessibility.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script src="~/lib/highchart/modules/offline-exporting.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <!--- JS App-->
    <script type="text/javascript" src="~/assets/app/MessageController.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/assets/app/CookiesController.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/assets/app/LDMSUtility.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/js/jquery.slimscroll.js?v=bd93153bf9375d66780f086cda347bfb"></script>

    <script type="text/javascript" src="~/lib/crypto-js/core.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/crypto-js/cipher-core.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/crypto-js/enc-base64.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/crypto-js/enc-utf16.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/crypto-js/aes.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/crypto-js/pbkdf2.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    <script type="text/javascript" src="~/lib/moment.js/moment.min.js?v=bd93153bf9375d66780f086cda347bfb"></script>
    @*<script type="text/javascript" src="~/js/waves.js?v=bd93153bf9375d66780f086cda347bfb"></script>*@
    @*<script type="text/javascript" src="~/js/sidebarmenu.js?v=bd93153bf9375d66780f086cda347bfb"></script>*@
    @*<script type="text/javascript" src="~/js/custom.js?v=bd93153bf9375d66780f086cda347bfb"></script>*@
    <!--- CSS-->
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/fontawesome.min.css" />

    <link rel="stylesheet" type="text/css" href="~/css/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendor/css-hamburgers/hamburgers.min.css">
    <link href="~/css/style.css" type="text/css" rel="stylesheet">
    <link href="~/css/LDMS.css" type="text/css" rel="stylesheet">
    <link href="~/css/colors/blue.css" id="theme" type="text/css" rel="stylesheet">
    <link href="~/css/svg-colorize.css" type="text/css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/lib/jquery-ui/themes/ui-lightness/jquery-ui.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/selecttwo/css/select2.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/selecttwo/css/select2-bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/lib/sweetalert/sweetalert.css" type="text/css" rel="stylesheet">
    <link href="~/lib/magnific-popup/dist/magnific-popup.css?v=bd93153bf9375d66780f086cda347bfb" type="text/css" rel="stylesheet">
    <link href="~/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />


    @RenderSection("Header", required: false)
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
</head>
<body id="pnBody">
    <div class="wrapper">
        <div id="header" style="position:absolute; top:0px; left:0px; height:0px; right:0px;overflow:no-content;width:100%;">
            <header class="topbar">
                <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="index.html">
                            <b> 
                                <img src="~/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                            </b>
                        </a>
                    </div>
                    <div class="head-title"><h1>Learning and Development Management System</h1></div>
                    <div class="logo-img"><span class="pull-right"><img class="ldms-logo" src="~/assets/images/svg/STT.svg" alt="homepage" /></span></div>
                </nav>
            </header>
        </div>
        <div class="sidebar" data-toggle="collapse"  style="overflow-y:scroll;">
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <div class="user-profile" style="margin-top:75px;height: 300px;">
                            <div class="profile-img">
                                <img src='@Url.Content(@HttpContextAccessor.HttpContext.Request.Cookies["FACEIMAGE"])' alt="user" />
                            </div>
                            <div class="profile-text">
                                <a href='@Url.Action("MyProfile", "Account")' aria-expanded="false">I am : @HttpContextAccessor.HttpContext.Request.Cookies["FULLNAME"]</a>
                                <a href='@Url.Action("MyProfile", "Account")' aria-expanded="false">My ID : @HttpContextAccessor.HttpContext.Request.Cookies["EMPLOYEEID"]</a>
                                <a href="#" style="pointer-events: none; display: inline-block;" aria-expanded="false">Join Date : @HttpContextAccessor.HttpContext.Request.Cookies["JOINDATE"]</a>
                                <a href="#" style="pointer-events: none; display: inline-block;" aria-expanded="false">Department : @HttpContextAccessor.HttpContext.Request.Cookies["DEPARTMENT"]</a>
                            </div>
                            <span class="pull-right" style="padding-right:25px;">
                                <a href="/Account/Logout" style="color:#ffffff" aria-expanded="false">Sign Out</a>
                            </span>                          
                        </div>
                    </li>
                    <li>
                        <nav class="sidebar-nav">
                            @await Component.InvokeAsync("NavigationMenu")
                        </nav>
                    </li>
                </ul>
            </div>
        </div> 
        <div class="main-panel" id="pnAreaAction">
            <div class="content">
                <div class="container-fluid">
                    <div class="page-titles">
                        <div class="col-sm-12 align-self-center" style="margin-top:25px;"> 
                            <div class="row">
                                <div class="float-left">
                                    <a href="#" onclick="ToggleMenu(this)" class="button-collapse">
                                        <i class="fas fa-bars" id="arrowSlideLeft"  style="cursor:pointer"></i>
                                    </a> &nbsp;&nbsp;&nbsp;&nbsp;
                                </div> 
                                <div>
                                    <h4 class="text-themecolor m-b-0 m-t-0">@ViewData["MainTitle"]</h4>
                                </div>
                                <div style="padding-top:5px;">
                                    <a href="javascript:void(0)"> &nbsp;&nbsp;<i class="fas fa-angle-right"></i>&nbsp;&nbsp;@ViewData["Title"] </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="page-body">
                        <div style="overflow:auto;padding-top:15px;padding-left:5px;padding-right:5px;">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer" style="margin-top:10px;">
                <div class="container-fluid">
                    <nav>
                        <p class="copyright text-right" style="padding-top:10px;">
                            ลิขสิทธิ์ ©
                            <script>document.write(new Date().getFullYear())</script> <a href="#">SONY TECHNOLOGY (THAILAND) CO., LTD.</a>, สงวนลิขสิทธิ์ เงื่อนไขในการใช้งานนโยบายส่วนบุคคล
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
@RenderSection("Scripts", required: false)
<script>
    (function ($) {
        "use strict";
        $(document).ready(function () {
            if (localStorage.MenuStage != null && localStorage.MenuStage != undefined) {
                if (localStorage.MenuStage == "hide") {
                    $(".sidebar").hide();
                    $("#pnAreaAction").attr("style", "width:100%;");
                } else {
                    $(".sidebar").show();
                    $("#pnAreaAction").removeAttr("style");
                    localStorage.MenuStage = "show";
                }
            }
        })
    })(jQuery);
    function ToggleMenu(mn) {
        debugger;
        if (localStorage.MenuStage == null || localStorage.MenuStage == undefined || localStorage.MenuStage == "show") {
            $(".sidebar").hide();
            $("#pnAreaAction").attr("style", "width:100%;");
            localStorage.MenuStage = "hide";
        } else {
            $(".sidebar").show();
            $("#pnAreaAction").removeAttr("style");
            localStorage.MenuStage = "show";
        }
    }
</script>