
@{
    ViewData["Title"] = "Course Register";
    ViewData["MainTitle"] = "I-Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header{

    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <style>
        .ui-widget-header {
            border-color: transparent !important;
            background-color: transparent !important;
            background-image: none !important;
        }

        .btn-command {
            width: 130px !important;
        }

        .chk {
            color: transparent !important;
        }

        .text-grid {
            width: 90px;
        }

        .modal-dialog {
            -webkit-transform: translate(0,-50%);
            -o-transform: translate(0,-50%);
            transform: translate(0,-50%);
            margin: 0 auto;
        }

        .hide-cell {
            border-width: 0px !important;
        }

        thead th {
            text-align: center;
        }

        .label-gray {
            background-color: #b3b3b3;
        }

        .small, small {
            font-size: 100%;
            font-weight: 400;
        }

        .card-header {
            background-color: #1e88e5 !important;
        }

        .label-success {
            color: #04b92d !important;
            background-color: #04b92d !important;
        }

        .h4 {
            margin-top: 7px !important;
            padding-bottom: 10px !important;
        }
    </style>
}

<div class="card card-outline-success">
    <form method="post" id="frmCR">
        @Html.AntiForgeryToken()
        <div class="card-header">
            <h4 class="m-b-0 text-white">Course Information</h4>
        </div>
        <div class="card-block p-4">
            <div class="form-group row">
                <div class="col-8">
                    <small class="text-muted">Class</small>
                    <h5 id="lblClassName"></h5>
                </div>
                <div class="col-4 row">
                    <div class="col-3">
                        <small class="text-muted">Status</small>
                        <h5 id="lblStatus"></h5>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group row pt-4">
                <div class="col-1">
                    <a href="javascript:void(0)" class="link">
                        <small class="text-success font-bold">Capacity</small><br />
                        <i class="icon-people"></i>
                        <font class="font-medium" id="lblNCap"></font>
                    </a>
                </div>
                <div class="col-1">
                    <a href="javascript:void(0)" class="link">
                        <small class="text-danger font-bold">Register</small><br />
                        <i class="icon-people"></i>
                        <font class="font-medium" id="lblNRegis"></font>
                    </a>
                </div>
                <div class="col-1">
                    <a href="javascript:void(0)" class="link">
                        <small class="text-muted font-bold">Waiting</small><br />
                        <i class="icon-people"></i>
                        <font class="font-medium" id="lblNWait"></font>
                    </a>
                </div>
            </div>

            <hr />
            <div class="form-group row pt-4 pb-1">
                <div class="col-2">
                    <small class="text-muted">Employee ID</small>
                    <input type="text" maxlength="100" class="form-control" id="txtEmpID" />
                </div>
                <div class="col-3">
                    <small class="text-muted">Employee Name</small>
                    <input type="text" maxlength="100" class="form-control" id="txtEmpName" />
                </div>
                <div class="col-3">
                    <small class="text-muted">Department</small>
                    <input type="text" maxlength="100" class="form-control" id="txtDept" />
                </div>
                <div class="col-3" style="padding-top: 25px;">
                    <button type="button" id="btnCSearch" class="btn btn-outline-secondary waves-effect waves-light btn-command">
                        <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />&nbsp;&nbsp;Search
                    </button>
                </div>
            </div>
            <div class="form-group row pt-2 pb-1">
                <div class="col-6">
                    <div class="btn-group" role="group" aria-label="Command">
                        <button type="button" id="btnApprove" class="btn btn-outline-info btn-command">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-check-green.svg" />&nbsp;&nbsp;Approve
                        </button>
                        <button type="button" id="btnReject" class="btn btn-outline-danger btn-command">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-down.svg" />&nbsp;&nbsp;Reject
                        </button>
                        <button type="button" id="btnClose" class="btn btn-outline-warning btn-command">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/closed.svg" />&nbsp;&nbsp; Close
                        </button>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="btn-group" role="group" aria-label="Command">
                        <button type="button" id="btnSave" class="btn btn-outline-success waves-effect waves-light btn-command">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/save.svg" />&nbsp;&nbsp;Save
                        </button>
                        <button type="button" id="btnBack" class="btn btn-outline-danger inactive waves-effect waves-light btn-command">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-group row pt-2 pb-1">
                <div class="col-6">
                    <div class="btn-group" role="group" aria-label="Command">
                        <div class="btn-group" role="group" aria-label="Command">
                            <button type="button" id="btnAddRegis" class="btn btn-outline-success waves-effect waves-light btn-command" onclick="SearchEmployee();">
                                <img style="width:25px;height:20px" src="~/assets/images/svg/add-button-circle.svg" />&nbsp;&nbsp;Add
                            </button>
                            <button type="button" id="btnExport" class="btn btn-outline-info inactive waves-effect waves-light btn-command">
                                <img style="width:25px;height:20px" src="~/assets/images/svg/icon-excel-green.svg" />&nbsp;&nbsp;Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive m-t-20">
                <table id="tbCourse" class="table table-hover table-bordered color-table info-table" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <td class="hide-cell"></td>
                            <td class="hide-cell"></td>
                            <td class="hide-cell"></td>
                            <td class="hide-cell"></td>
                            <td class="hide-cell"></td>
                            <td class="hide-cell"></td>
                            <td class="text-center hide-cell"><span id="lblSRegister" class="label">&nbsp;</span></td>
                            <td class="text-center hide-cell"><span id="lblSAttend" class="label">&nbsp;</span></td>
                            <td class="text-center hide-cell"><span id="lblSPre" class="label">&nbsp;</span></td>
                            <td class="text-center hide-cell"><span id="lblSPost" class="label">&nbsp;</span></td>
                            <td class="hide-cell"></td>
                            <td class="text-center hide-cell"><span id="lblSSkill" class="label">&nbsp;</span></td>
                            <td class="hide-cell"></td>
                            <td class="text-center hide-cell"><span id="lblSCoach" class="label">&nbsp;</span></td>
                            <td class="text-center hide-cell"><span id="lblSCert" class="label">&nbsp;</span></td>
                            <td class="text-center hide-cell"><span id="lblSStatus" class="label">&nbsp;</span></td>
                        </tr>
                        <tr>
                            <th class="text-center"><input type="checkbox" id="chkAll" /><label for="chkAll" class='chk'>.</label></th>
                            <th>#</th>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Job Grade</th>
                            <th>Register</th>
                            <th>Attend</th>
                            <th>Pre-Test</th>
                            <th>Post-Test</th>
                            <th>%</th>
                            <th>Skill</th>
                            <th>%</th>
                            <th>Coaching</th>
                            <th style="width:120px;">Certificate</th>
                            <th style="min-height:53px;min-width:96px;">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
    </form>
</div>

<div class="modal" id="modEmp_Close" tabindex="-1" role="dialog" aria-labelledby="modAlertLabel" aria-hidden="false" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="display:table;height: 100%;width: 1200px !important;">
        <div class="modal-content">
            <div class="modal-header card-header col-12">
                <h4 class="m-b-0 text-white" style="margin-top:7px;margin-bottom:10px">Select Waiting List to Approve Register</h4>
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" style="min-height: 80px;">
                <div class="col-12" style="overflow-y:auto;height:400px;">
                    <table id="tbREmp" class="table color-table info-table" style="font-size:10pt;">
                        <thead>
                            <tr>
                                <th class="text-center"><input type="checkbox" id="chkEAll" /><label for="chkEAll" class='chk'>.</label></th>
                                <th>#</th>
                                <th>Employee ID</th>
                                <th>Employee Name</th>
                                <th>Department</th>
                                <th>Section</th>
                                <th>Job Grade</th>
                                <th>Job Title</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-12 row">
                    <div class="col-9">
                        <button type="button" id="btnRegisterR" class="btn btn-info btn-command">Register</button>
                        <button type="button" id="btnBackR" class="btn btn-secondary btn-command" formnovalidate data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-3">
                        <button type="button" id="btnCloseRS" class="btn btn-primary">Close Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modCert" tabindex="-1" role="dialog" aria-labelledby="modAlertLabel" aria-hidden="false" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="display:table;height: 100%;">
        <div class="modal-content">
            <div class="modal-header card-header col-12">
                <h4 class="m-b-0 text-white" style="margin-top:7px;margin-bottom:10px">Confirm Certificate</h4>
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
            </div>
            <form id="frmCert" class="form" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="modal-body" style="min-height: 80px;">
                    <div class="col-12" style="height:200px;">

                        <div class="form-group row col-md-12" style="padding-top:20px;">
                            <small class="text-muted">Expire Date <span class="text-danger">*</span></small>
                            <input class="form-control" type="date" id="dpcCertExpire" data-date="" data-date-format="DD/MM/YYYY" name="expireDate">
                        </div>
                        <div class="form-group row col-md-12" style="padding-top:20px;">
                            <small class="text-muted">Certificate <span class="text-danger">*</span></small>
                            <input type="file" id="fiCert" name="fiCert" accept="application/pdf" />
                        </div>
                        <div class="form-group row col-md-12" style="padding-top:20px;">
                            <a id="aFile" target="_blank" class="btn btn-primary btn-sm btn-command">Download</a>
                        </div>
                        <input type="hidden" id="hdCertClass" name="classID" value="@ViewData["class"]" />
                        <input type="hidden" id="hdCertCourse" name="courseID" value="@ViewData["course"]" />
                        <input type="hidden" id="hdCertEmp" name="employeeID" />
                    </div>
                </div>
                <div class="modal-footer" style="padding-top:20px;">
                    <div class="col-12 row">
                        <input type="submit" id="btnCertSave" class="btn btn-info btn-command" value="Save" />&nbsp;&nbsp;
                        <button type="button" id="btnCertBack" class="btn btn-secondary btn-command" formnovalidate data-dismiss="modal">Close</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="modEmp_Select" tabindex="-1" role="dialog" aria-labelledby="modAlertLabel" aria-hidden="false" data-keyboard="false">
    <div class="modal-dialog modal-lg" style="display:table;height: 100%;width: 1200px !important;">
        <div class="modal-content" style="width:1200px;">
            <div class="modal-header card-header col-12">
                <h4 class="m-b-0 text-white" style="margin-top:7px;margin-bottom:10px">Select Employee</h4>
                <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body" style="min-height: 80px;">
                <div class="form-horizontal" style="padding-top:25px;">
                    <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-right" style="vertical-align:middle">
                                <label class="LabelCaption">Employee ID</label>
                            </span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <input type="text"
                                   title="Please Enter Employee ID"
                                   id="txtEmployeeID"
                                   style="width: 100%"
                                   class="form-control" />
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-right" style="vertical-align:middle">
                                <label class="LabelCaption">Employee Name</label>
                            </span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <input type="text"
                                   title="Please Enter Employee Name"
                                   id="txtEmployeeName"
                                   style="width: 100%"
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-right" style="vertical-align:middle">
                                <label class="LabelCaption">Department</label>
                            </span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <select id="selectDepartment" name="selectDepartment" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-right" style="vertical-align:middle">
                                <label class="LabelCaption">Section</label>
                            </span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <select id="selectSection" name="selectSection" class="form-control" style="width: 100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-right" style="vertical-align:middle">
                                <label class="LabelCaption">Job Grade</label>
                            </span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <select id="selectJobGrade" name="selectJobGrade" class="form-control" style="width: 100%">
                            </select>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <span class="pull-right" style="vertical-align:middle">
                                <label class="LabelCaption">Job Title</label>
                            </span>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <select id="selectJobTitle" name="selectJobTitle" class="form-control" style="width: 100%">
                            </select>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-right:15px;margin-left:-15px;">
                        <div class="col-sm-2 col-md-2 offset-10">
                            <button id="btnSearchEmployee" onclick="SearchEmployee();" class="btn btn-outline-secondary waves-effect waves-light" style="width:100%">
                                <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />
                            </button>
                        </div>
                    </div>
                    <div class="row form-group" style="padding-top:25px;">
                        <div class="col-sm-12 col-md-12" style="padding-left:15px;padding-right:15px;">
                            <table class="display dataTable" id="dtSelectEmployee">
                                <thead style="background-color:#1e88e5;color:#ffffff">
                                    <tr>
                                        <th style="text-align:center;width:75px">#</th>
                                        <th style="text-align:center;width:150px">Employee Id</th>
                                        <th style="text-align:center;width:150px">Employee Name</th>
                                        <th style="text-align:center;width:150px">Department</th>
                                        <th style="text-align:center;width:150px">Section</th>
                                        <th style="text-align:center;width:150px">Job Grade</th>
                                        <th style="text-align:center;width:150px">Job Title</th>
                                        <th style="text-align:center;width:75px">Select</th>
                                    </tr>
                                </thead>
                                <tbody> </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row form-group" style="margin-top:15px;margin-bottom:15px; padding-left:70%">
                        <button id="btnSelectPlatform" onclick="OnSelectEmployee()" class="btn btn-outline-primary waves-effect waves-light" style="width:140px;">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/right.svg" />&nbsp;&nbsp;Select
                        </button>
                        &nbsp;&nbsp;
                        <button id="btnBack" class="btn btn-outline-danger inactive waves-effect waves-light" style="width:140px;" formnovalidate data-dismiss="modal">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-l-red.svg" />&nbsp;&nbsp;Back
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdClass" />
<input type="hidden" id="hdCourse" />

<input type="hidden" id="hdStatus" />
<input type="hidden" id="hdAttend" />
<input type="hidden" id="hdAttend1" />
<input type="hidden" id="hdTest" />
<input type="hidden" id="hdTest1" />
<input type="hidden" id="hdTest2" />
<input type="hidden" id="hdSkill" />
<input type="hidden" id="hdSkill1" />
<input type="hidden" id="hdSkill2" />
<input type="hidden" id="hdCoach" />
<input type="hidden" id="hdCert" />

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            LoadClass();
            LoadDepartment();
            LoadJobTitle();
            LoadJobGrades();
        });

        $("#txtEmpID").on('keyup', function (e) {
            if (e.keyCode === 13) {
                SearchCR();
            }
        });

        $("#txtEmpName").on('keyup', function (e) {
            if (e.keyCode === 13) {
                SearchCR();
            }
        });

        $("#txtDept").on('keyup', function (e) {
            if (e.keyCode === 13) {
                SearchCR();
            }
        });

        $("#btnCSearch").click(function (e) {
            e.preventDefault();
            SearchCR();
        });

        $("#btnApprove").click(function(){
            if(confirm('@LDMS.WEB.Resources.Message.e_CourseRegister_ConfirmApprove'))
            {
                var list = "";
                $('.scr').not("[disabled]").each(function () {
                    if(this.checked)
                    {
                        list += this.alt+",";
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateRegisStatusA", "CourseRegister")',
                    data: { "classID": "@ViewData["class"]",
                            "courseID": "@ViewData["course"]",
                            "idList": list,
                            "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                    success: function (e) {
                        SearchCR();
                     },
                });
            }
        });

        $("#btnReject").click(function(){
            if(confirm('@LDMS.WEB.Resources.Message.e_CourseRegister_ConfirmReject'))
            {
                var list = "";
                $('.scr').not("[disabled]").each(function () {
                    if(this.checked)
                    {
                        list += this.alt+",";
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateRegisStatusR", "CourseRegister")',
                    data: { "classID": "@ViewData["class"]",
                            "courseID": "@ViewData["course"]",
                            "idList": list,
                            "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                    success: function (e) {
                        SearchCR();
                     },
                });
            }
        });


        $("#chkEAll").change(function() {
            var checked_status = this.checked;
            $('.scr-e').not("[disabled]").each(function () {
                   this.checked = checked_status;
            });
        });


        $("#btnClose").click(function () {
            $('#modEmp_Close').modal('toggle');
            SearchEmpForClose();
        });

        function SearchEmpForClose()
        {
            $("#tbREmp tbody > tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEmployeeClose", "CourseRegister")',
                data: { "classID": "@ViewData["class"]",
                        "courseID": "@ViewData["course"]",
                        "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                success: function (e) {
                    if (e != null) {
                        for (var i = 0; i < e.length; i++) {
                            var row = $("<tr />");
                            $("#tbREmp tbody").append(row);

                            row.append("<td class='text-center'><input type='checkbox' class='scr-e' id='chkED" + e[i].EmployeeID +
                                "' alt='" + e[i].EmployeeID + "' /><label class='chk' for='chkED" + e[i].EmployeeID +"'>.</label> </td>");
                            row.append($("<td class='text-center'>" + (i + 1) + "</td>"));
                            row.append($("<td class='text-center'>" + e[i].EmployeeID + "</td>"));
                            row.append($("<td>" + e[i].Name + " " + e[i].Surname + "</td>"));
                            row.append($("<td>" +  e[i].DepartmentName_TH + "</td>"));
                            row.append($("<td>" +  e[i].SectionName_TH + "</td>"));
                            row.append($("<td>" +  e[i].JobGradeName_TH + "</td>"));
                            row.append($("<td>" +  e[i].JobTitleName_TH + "</td>"));
                        }
                    }
                },
            });
        }

        $("#btnRegisterR").click(function(){
            if(confirm('@LDMS.WEB.Resources.Message.e_CourseRegister_ConfirmApprove'))
            {
                var list = "";
                $('.scr-e').not("[disabled]").each(function () {
                    if(this.checked)
                    {
                        list += this.alt+",";
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateRegisStatusA", "CourseRegister")',
                    data: { "classID": "@ViewData["class"]",
                            "courseID": "@ViewData["course"]",
                            "idList": list,
                            "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                    success: function (e) { SearchEmpForClose();SearchCR(); },
                });
            }
        });

        $("#btnCloseRS").click(function(){
            if(confirm('@LDMS.WEB.Resources.Message.e_CourseRegister_ConfirmClose'))
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("CloseClass", "CourseRegister")',
                    data: { "classID": "@ViewData["class"]",
                            "courseID": "@ViewData["course"]",
                            "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                    success: function (e) { LoadClass(); $('#modEmp_Close').modal('toggle'); },
                });
            }
        });

        $("#btnBack").click(function(){
            window.location.href = '@Url.Content("~/Courses/Detail/"+ViewData["course"])';
        });

        function LoadClass() {
            $.ajax({
                type: 'POST',
                 url: '@Url.Action("GetInfo", "CourseRegister")',
                data: { "ClassID": "@ViewData["class"]", "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                success: function (e) {
                     if (e.length > 0) {
                        $("#lblClassName").html(e[0].ClassID + " " + e[0].CourseName);
                        $("#lblStatus").html(e[0].ClassStatus_Name);
                        $("#lblNCap").html(e[0].ClassCapacity);
                        $("#lblNRegis").html(e[0].Register_Count);
                        $("#lblNWait").html(e[0].Waiting_Count);

                        $("#hdStatus").val(e[0].ClassStatus);

                        var all_Count = e[0].All_Count;
                         if (e[0].Qualified_Count >= all_Count) $("#lblSStatus").attr('class',"label text-success");

                        $("#hdAttend").val(e[0].IsAttend);

                        if(e[0].IsAttend == "1")
                        {   if(e[0].Attend_Count >= all_Count) $("#lblSAttend").attr('class',"label label-success");
                            else if ( e[0].Attend_Count > 0) $("#lblSAttend").attr('class',"label label-warning");
                            else $("#lblSAttend").attr('class',"label label-gray"); }
                        else{ $("#lblSAttend").attr('class',"label label-inverse"); }

                        $("#hdAttend1").val(e[0].AttendNum);
                        $("#hdTest").val(e[0].IsTest);
                        if(e[0].IsTest == "1")
                        {
                            if(e[0].PreTest_Count >= all_Count) $("#lblSPre").attr('class',"label label-success");
                            else if ( e[0].PreTest_Count > 0) $("#lblSPre").attr('class',"label label-warning");
                            else $("#lblSPre").attr('class',"label label-gray");

                            if(e[0].PostTest_Count >= all_Count) $("#lblSPost").attr('class',"label label-success");
                            else if ( e[0].PostTest_Count > 0) $("#lblSPost").attr('class',"label label-warning");
                            else $("#lblSPost").attr('class',"label label-gray");
                        }
                        else{ $("#lblSPre").attr('class',"label label-inverse"); $("#lblSPost").attr('class',"label label-inverse");}

                        $("#hdTest1").val(e[0].TestFullScore);
                        $("#hdTest2").val(e[0].TestPercentage);
                        $("#hdSkill").val(e[0].IsSkill);
                        if(e[0].IsSkill == "1")
                        {
                            if(e[0].Skill_Count >= all_Count) $("#lblSSkill").attr('class',"label label-success");
                            else if ( e[0].Skill_Count > 0) $("#lblSSkill").attr('class',"label label-warning");
                            else $("#lblSSkill").attr('class',"label label-gray");
                        }
                        else{ $("#lblSSkill").attr('class',"label label-inverse"); }

                        $("#hdSkill1").val(e[0].SkillFullScore);
                        $("#hdSkill2").val(e[0].SkillPercentage);
                        $("#hdCoach").val(e[0].IsCoaching);
                        if(e[0].IsCoaching == "1")
                        {
                            if(e[0].Coach_Count >= all_Count) $("#lblSCoach").attr('class',"label label-success");
                            else if ( e[0].Coach_Count > 0) $("#lblSCoach").attr('class',"label label-warning");
                            else $("#lblSCoach").attr('class',"label label-gray");
                        }
                        else{ $("#lblSCoach").attr('class',"label label-inverse"); }

                        $("#hdCert").val(e[0].IsAttachCert);
                        if(e[0].IsCertificate == "1")
                        {
                            if(e[0].Cert_Count >= all_Count) $("#lblSCert").attr('class',"label label-success");
                            else if ( e[0].Cert_Count > 0) $("#lblSCert").attr('class',"label label-warning");
                            else $("#lblSCert").attr('class',"label label-gray");
                        }
                        else{ $("#lblSCert").attr('class',"label label-inverse"); }

                        SearchCR();
                     }
                 },
            });
        }

        $("#chkAll").change(function() {
            var checked_status = this.checked;
            $('.scr').not("[disabled]").each(function () {
                   this.checked = checked_status;
            });
        });

        function AttendChange(sender)
        {
            //sender.alt ; sender.checked
            if($("#hdTest").val() == 1)
            {
                $("#txtPre"+sender.alt).prop('disabled', !sender.checked);
                $("#txtPost"+sender.alt).prop('disabled', !sender.checked);
            }

            if($("#hdSkill").val() == 1)
            {
                $("#txtSkill"+sender.alt).prop('disabled', !sender.checked);
            }

            if($("#hdCert").val() == 1)
            {

            }
        }

        function SearchCR() {
            $("#tbCourse tbody > tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/CourseRegister/GetCourseRegis")',
                data: {
                    "classID": '@ViewData["class"]',
                    "courseID": '@ViewData["course"]',
                    "employeeID": $('#txtEmpID').val(),
                    "employeeName": $('#txtEmpName').val(),
                    "departmentName": $('#txtDept').val(),
                    "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val()
                },
                dataType: 'json',
                success: function (e) {
                    if (e != null) {
                        for (var i = 0; i < e.length; i++) {

                            var row = $("<tr />");
                            $("#tbCourse tbody").append(row);
                            row.append("<td class='text-center'><input type='checkbox' class='scr' id='chkS" + e[i].EmployeeID + "' "+
                                (e[i].RegisterStatus == "70" || e[i].RegisterStatus == "10"? "disabled": "")+" alt='" + e[i].EmployeeID + "' /><label class='chk' for='chkS" + e[i].EmployeeID +"'>.</label> </td>");
                            row.append($("<td class='text-center'>" + (i + 1) + "</td>"));

                            row.append($("<td>" + e[i].EmployeeID + "</td>"));
                            row.append($("<td>" + e[i].Name + " " + e[i].Surname+"</td>"));
                            row.append($("<td>" + e[i].DepartmentName_TH + "</td>"));
                            row.append($("<td>" + e[i].JobGradeName_TH + "</td>"));
                            if (e[i].RegisterStatus == "70")
                                row.append($("<td class='text-center'><img src='@Url.Content("~/assets/images/svg/icon-check-green.svg")'/></td>"));
                            else
                                row.append($("<td class='text-center'><img src='@Url.Content("~/assets/images/svg/icon-cross-red.svg")'/></td>"));

                            if (e[i].RegisterStatus == "70" && $("#hdAttend").val() == 1) {

                                row.append("<td class='text-center'><input type='checkbox' id='chkA" + e[i].EmployeeID + "' "+
                                   (e[i].Attend > 0? "checked disabled" :"")+ " class='chk-att' alt='" + e[i].EmployeeID + "' onchange='AttendChange(this)'/><label class='chk' for='chkA" + e[i].EmployeeID + "'>.</label> </td>");
                            }
                            else
                                row.append("<td class='text-center'><input type='checkbox' class='chk-att' id='chkA" + e[i].EmployeeID + "' disabled alt='" + e[i].EmployeeID + "' onchange='AttendChange(this)' /><label class='chk' for='chkA" + e[i].EmployeeID + "'>.</label> </td>");

                            if(e[i].PreTestScore)
                            {
                                row.append("<td class='text-center'><input type='number' class='form-control text-right text-grid' id='txtPre"+e[i].EmployeeID+
                                    "' min='0' max='"+ $("#hdTest1").val()+"' value='"+e[i].PreTestScore+"' "+(e[i].Attend > 0 && $("#hdTest").val() == 1? "" :"disabled")+"/></td>");
                            }
                            else
                            {
                                row.append("<td class='text-center'><input type='number' class='form-control text-right text-grid' id='txtPre"+e[i].EmployeeID+
                                    "' min='0' max='"+ $("#hdTest1").val()+"' "+(e[i].Attend > 0 && $("#hdTest").val() == 1? "" :"disabled")+" /></td>");
                            }

                            if(e[i].PostTestScore)
                            {
                                row.append("<td class='text-center'><input type='number' class='form-control text-right text-grid' id='txtPost"+e[i].EmployeeID+
                                    "' min='0' max='"+ $("#hdTest1").val()+"' onblur='CalPostTest(this)' alt='" + e[i].EmployeeID + "' value='"+e[i].PostTestScore+"' "+(e[i].Attend > 0 && $("#hdTest").val() == 1? "" :"disabled")+"/></td>");

                                row.append("<td id='tdPPost"+e[i].EmployeeID+"' class='text-right'>"+ ((e[i].PostTestScore / ($("#hdTest1").val() *1))*100).toFixed(2) +"</td>");
                            }
                            else
                            {
                                row.append("<td class='text-center'><input type='number' class='form-control text-right text-grid' id='txtPost"+e[i].EmployeeID+
                                    "' min='0' max='"+ $("#hdTest1").val()+"' onblur='CalPostTest(this)' alt='" + e[i].EmployeeID + "' "+(e[i].Attend > 0 && $("#hdTest").val() == 1? "" :"disabled")+" /></td>");
                                row.append("<td id='tdPPost"+e[i].EmployeeID+"' class='text-right'></td>");
                            }

                            if(e[i].SkillScore)
                            {
                                row.append("<td class='text-center'><input type='number' class='form-control text-right text-grid' id='txtSkill"+e[i].EmployeeID+
                                    "'  min='0' max='"+ $("#hdSkill1").val()+"' onblur='CalSkill(this)' alt='" + e[i].EmployeeID + "' value='"+e[i].SkillScore+"' "+(e[i].Attend > 0 && $("#hdSkill").val() == 1? "" :"disabled")+"/></td>");

                                row.append("<td id='tdPSkill"+e[i].EmployeeID+"' class='text-right'>"+ ((e[i].SkillScore / ($("#hdSkill1").val() *1))*100).toFixed(2) +"</td>");
                            }
                            else
                            {
                                row.append("<td class='text-center'><input type='number' class='form-control text-right text-grid' id='txtSkill"+e[i].EmployeeID+
                                    "' min='0' max='"+ $("#hdSkill1").val()+"' onblur='CalSkill(this)' "+(e[i].Attend > 0 && $("#hdSkill").val() == 1? "" :"disabled")+" /></td>");
                                row.append("<td id='tdPSkill"+e[i].EmployeeID+"' class='text-right'></td>");
                            }
                            if(e[i].CoachingStatus == 1) row.append("<td class='text-center'><img src='@Url.Content("~/assets/images/svg/icon-check-green.svg")'/></td>"); else row.append("<td></td>");

                            if($("#hdCert").val() == 1)
                            {
                                if(e[i].ExpireDate)
                                    row.append("<td class='text-right'> <a id='aCert"+e[i].EmployeeID+
                                        "' href=\"javascript:OpenAttCert('"+e[i].EmployeeID+"', '"+ e[i].Certificate_Path+"', '"+e[i].ExpireDate_S+"');\"  class='text-info'> <small>"+
                                        e[i].ExpireDate+"</small> <i class='icon-paper-clip'></i> </a> </td>");
                                else
                                     row.append("<td class='text-right'> <a id='aCert"+e[i].EmployeeID+
                                         "' href=\"javascript:OpenAttCert('" + e[i].EmployeeID +"');\" class='text-info'> <i class='icon-paper-clip'></i> </a> </td>");
                            }

                            if($("#hdStatus").val() != "70")
                            {
                                row.append("<td "+(e[i].RegisterStatus == "70"? "class='text-info text-center font-weight-bold''" :"class='text-center font-weight-bold''")+">"+e[i].RegisterStatus_Name+"</td>");
                            }
                            else
                            {
                                var css = "class='text-center font-weight-bold''";
                                if(e[i].LearningResult == "70")  css = "class='text-info text-center font-weight-bold''";
                                else if(e[i].LearningResult == "99")  css = "class='text-danger text-center font-weight-bold''";

                                row.append("<td "+css+">"+e[i].LearningResult_Name+"</td>");
                            }
                        }
                    }
                }
            });
        }

        $("#btnExport").click(function () {
            var request = new XMLHttpRequest();
            request.responseType = "blob";
            request.open("GET", "@Url.Content("~/CourseRegister/ExportExcel")?classID=@ViewData["class"]&courseID=@ViewData["course"]&employeeID=" +
                $('#txtEmpID').val() + "&employeeName=" + $('#txtEmpName').val() + "&departmentName=" + $('#txtDept').val());
            request.onload = function () {
                var url = window.URL.createObjectURL(this.response);
                var a = document.createElement("a");
                document.body.appendChild(a);
                a.href = url;
                a.download = this.response.name || "download-" + $.now()
                a.click();
            }
            request.send();
        });

        function CalPostTest(sender)
        {
            if(sender.value != "") $('#tdPPost'+sender.alt).html( ((sender.value * 1 / ($("#hdTest1").val() *1))*100).toFixed(2));
        }

        function CalSkill(sender)
        {
            if(sender.value != "") $('#tdPSkill'+sender.alt).html( ((sender.value * 1 / ($("#hdSkill1").val() *1))*100).toFixed(2));
        }

        $("#btnSave").click(function (e) {
            if(confirm('@LDMS.WEB.Resources.Message.e_CourseRegister_ConfirmSave'))
            {

                var lists = "";
                $('.chk-att').each(function () {
                    lists += this.alt+"|";
                    lists += (this.checked? "1":"0")+"|";

                    lists += $("#txtPre"+this.alt).val()+"|";
                    lists += $("#txtPost"+this.alt).val()+"|";
                    lists += $("#txtSkill"+this.alt).val();
                    lists += "#";
                });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateAttendResult", "CourseRegister")',
                    data: { "classID": "@ViewData["class"]",
                            "courseID": "@ViewData["course"]",
                            "lists": lists,
                            "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                    success: function (e) {LoadClass();  },
                });

            }
        });


        function OpenAttCert(empID,  path, date)
        {
            $('#hdCertEmp').val(empID);
            if(path)
            {
                $("#aFile").attr("href", path.replace("\\","/"));$("#aFile").show();
            }else $("#aFile").hide();
            $("#dpcCertExpire").val(null);
            if(date) $("#dpcCertExpire").val(date);
            $("#fiCert").val(null);
            $('#modCert').modal('toggle');
        }

        $('#frmCert').on('submit', function (e) {
            e.preventDefault();
            var form = $('#frmCert')[0];
            $.ajax({
                    type: 'post',
                    dataType: "JSON",
                    data: new FormData(form),
                    processData: false,
                    contentType: false,
                    url: '@Url.Action("UpdateCert", "CourseRegister")',
                    success: function (e) {

                        LoadClass();  $('#modCert').modal('toggle');
                    },
                    complete: function () {
                        LoadClass();  $('#modCert').modal('toggle');
                    }
                });
        });




        function LoadDepartment() {
            var options = $('#selectDepartment');
            options.empty();
            $.ajax({
                type: "GET",
                url: "/Master/GetAllDepartments",
                success: function (response) {
                    options.append($("<option />").val(null).text("---All---"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_Department).text('(' + this.DepartmentID + ') ' + this.DepartmentName_EN));
                    });
                    options.val(null).trigger('change');
                },
                failure: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    }
                    else {
                        MessageController.Error(response.responseText, "Error");
                    }
                },
                error: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    }
                    else {
                        MessageController.Error(response.responseText, "Error");
                    }
                }
            });
        }

        function LoadJobGrades() {
            var options = $('#selectJobGrade');
            var options2 = $('#selectLevel');
            options.empty();
            options2.empty();

            $.ajax({
                type: "GET",
                url: "/Master/GetAllJobGrades",
                success: function (response) {
                    options.append($("<option />").val(null).text("---All---"));
                    options2.append($("<option />").val(null).text("---All---"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_JobGrade).text(this.JobGradeName_EN));
                        options2.append($("<option />").val(this.ID_JobGrade).text(this.JobGradeName_EN));
                    });
                    options.val(null).trigger('change');
                    options2.val(null).trigger('change');
                },
                failure: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    } else {
                        MessageController.Error(response.responseText, "Error");
                    }
                },
                error: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    } else {
                        MessageController.Error(response.responseText, "Error");
                    }
                }
            });
        }

        function LoadJobTitle() {
            var options = $('#selectJobTitle');
            options.empty();
            $.ajax({
                type: "GET",
                url: "/Master/GetAllJobTitles",
                success: function (response) {
                    options.append($("<option />").val(null).text("--All--"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID).text(this.JobTitleName_EN));
                    });
                    options.val(null).trigger('change');
                },
                failure: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    } else {
                        MessageController.Error(response.responseText, "Error");
                    }
                },
                error: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    } else {
                        MessageController.Error(response.responseText, "Error");
                    }
                }
            });
        }

        $('select[name="selectDepartment"]').on('change', function () {
            var departmentId = $(this).val();
            LoadDepartmentSection(departmentId);
        });

        function LoadDepartmentSection(departmentId) {
            var options = $('#selectSection');
            options.empty();
            $.ajax({
                type: "GET",
                url: '/Master/GetAllSectionsByDepartment',
                data: {
                    'departmentId': departmentId
                },
                success: function (response) {
                    options.append($("<option />").val(null).text("---All---"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_Section).text('(' + this.SectionID + ') ' + this.SectionName_EN));
                    });
                    options.val(null).trigger('change');
                },
                failure: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    } else {
                        MessageController.Error(response.responseText, "Error");
                    }
                },
                error: function (response) {
                    if (JSON.parse(response.responseText).Errors.length > 0) {
                        MessageController.Error(JSON.parse(response.responseText).Errors[0].replace("Message:", ""), "Error");
                    } else {
                        MessageController.Error(response.responseText, "Error");
                    }
                }
            });
        }


        function SearchEmployee() {
            var searmodel = {
                EmployeeId: $("#txtEmployeeID").val(),
                EmployeeName: $("#txtEmployeeName").val(),
                Departments: $("#selectDepartment").val(),
                Sections: $("#selectSection").val(),
                JobGrades: $("#selectJobGrade").val(),
                JobTitles: $("#selectJobTitle").val(),
                courseID: "@ViewData["course"]",
                classID: "@ViewData["class"]"
            }
            if ($.fn.dataTable.isDataTable('#dtSelectEmployee')) {
                var table = $('#dtSelectEmployee').DataTable();
                table.destroy();
            }
            $.ajax({
                type: "GET",
                url: "/CourseRegister/SearchEmployee",
                data: searmodel,
                success: function (response) {
                    $('#dtSelectEmployee').DataTable({
                        'data': response.Data,
                        'columns': [
                            { data: 'RowIndex', title: '#' },
                            { data: 'EmployeeId', title: 'Employee Id' },
                            { data: 'EmployeeName', title: 'Employee Name' },
                            { data: 'DepartmentName', title: 'Department' },
                            { data: 'SectionName', title: 'Section' },
                            { data: 'JobGrade', title: 'Job Grade' },
                            { data: 'JobTitle', title: 'Job Title' },
                            {
                                "mData": "EmployeeId",
                                "mRender": function (data, type, row) {
                                    var isSelect = employees.any((item) => {
                                        return data.trim() == item.EmployeeId.trim();
                                    });
                                    if (isSelect) {
                                        tmpselection.push(data);
                                        return "<input type = 'checkbox' checked='checked'  onchange='OnSelectEmp(this)' class='chk-select-employee' name = 'selectEmployee_" + data + "' value='" + data + "'  id='selectEmployee_" + data + "' /> <label for='selectEmployee_" + data + "'> </label>";
                                    } else {
                                        return "<input type = 'checkbox' onchange='OnSelectEmp(this)' class='chk-select-employee' name = 'selectEmployee_" + data + "' value='" + data + "'  id='selectEmployee_" + data + "' /> <label for='selectEmployee_" + data + "'> </label>";
                                    }
                                }
                            }
                        ],
                        "columnDefs": [
                            { "orderable": false, "targets": 0, "className": "text-center", "width": "4%" },
                            { "orderable": false, "targets": 1, "className": "text-center" },
                            { "orderable": false, "targets": 2, "className": "text-center" },
                            { "orderable": false, "targets": 3, "className": "text-center" },
                            { "orderable": false, "targets": 4, "className": "text-center" },
                            { "orderable": false, "targets": 5, "className": "text-center" },
                            { "orderable": false, "targets": 6, "className": "text-center" },
                            { "orderable": false, "targets": 7, "className": "text-center" }

                        ],
                        'processing': true,
                        'paging': true,
                        "ordering": false,
                        "searching": false,
                        "lengthChange": false,
                        "bAutoWidth": false,
                        "Filter": false,
                        "info": false,
                        "bPaginate": false,
                        "bLengthChange": false,
                        "bJQueryUI": true, //Enable smooth theme
                        "sPaginationType": "full_numbers", //Enable smooth theme
                        "sDom": 'lfrtip',
                        "pageLength": 5,
                        "language": {
                            "zeroRecords": "No Employee"
                        }
                    });
                    $('.dataTables_length').addClass('bs-select');
                    if (!($("#modEmp_Select").data('bs.modal') || {})._isShown)
                        $('#modEmp_Select').modal("show");
                }
            });
        }

        var employees = [];
        var tmpselection = [];

        function OnSelectEmp(element) {
            var employeeId = element.id.replace("selectEmployee_", "").trim();
            if (document.getElementById('selectEmployee_' + employeeId).checked) {
                tmpselection.push(employeeId);
            } else {
                tmpselection = tmpselection.where((item) => {
                    return item != employeeId;
                });
            }
        }

        function OnSelectEmployee() {

             $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddRegis", "CourseRegister")',
                    data: { "classID": "@ViewData["class"]",
                            "courseID": "@ViewData["course"]",
                        "empID": tmpselection,
                            "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val() },
                 success: function (e) {
                     LoadClass(); $('#modEmp_Select').modal("hide");
                 },
                });

        }

    </script>
}

