@{
    ViewData["Title"] = "Platform";
    ViewData["MainTitle"] = "I-Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model LDMS.ViewModels.LDMS_M_Platform_Search

<div class="panel panel-primary" style="margin-top:-15px;width:100%;">
    <div class="panel-body" style="width:100%;">
        <form method="post" id="frmPlatformList">
            @Html.AntiForgeryToken()
            <div class="form-horizontal" style="margin-top:25px">
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Platform ID</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text" id="txtFilterPlatformID" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Platform Name</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <input type="text" id="txtFilterPlatformName" class="form-control input-sm" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Platform Type</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <select id="selectPlatformType"
                                name="selectPlatformType"
                                title="Please Select Platform Type"
                                class="form-control"
                                style="width: 100%">
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2">
                        <span class="pull-right">
                            <label class="LabelCaption">Platform Status</label>
                        </span>
                    </div>
                    <div class="col-4">
                        <div class="btn-group">
                            <select id="selectPlatformtStatus" name="selectPlatformtStatus" class="form-control" style="width: 100%">
                                <option value="1">Active</option>
                                <option value="0">Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-2 col-md-2 offset-8">
                        <button id="btnSeacrh" class="btn btn-outline-secondary waves-effect waves-light" style="width:70%">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" />&nbsp;&nbsp;Search
                        </button>
                    </div>
                    <div class="col-sm-2 col-md-2" style="margin-left:-55px">
                        <a id="btnAdd" onclick="window.location.href = '@Url.Action("AddPlatform", "Platform")';" class="btn btn-outline-success waves-effect waves-light" style="width:90%;">
                            <img style="width:25px;height:20px" src="~/assets/images/svg/add-button-circle.svg" />&nbsp;&nbsp;Add Platform
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-body" style="width:100%;">
        <div class="table-responsive m-t-40">
            <table class="display dataTable" width="100%" id="dtPlatformList">
                <thead>
                    <tr>
                        <th style="text-align:center;width:100px">No</th>
                        <th style="text-align:center;width:150px">Platform ID</th>
                        <th style="text-align:center;width:150px">Platform Name</th>
                        <th style="text-align:center;width:150px">Platform Type</th>
                        <th style="text-align:center;width:150px">Platform Status</th>
                        <th style="text-align: center;width:50px">Edit</th>
                        <!--<th style="text-align:center;width:50px">Delete</th>-->
                        <th style="text-align:center;width:50px">Export</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <style type="text/css">
        .form-group {
            margin-bottom: 1.5rem;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            LoadPlatformType();
            Search();

            var dtData;
            $("#btnSeacrh").click(function (e) {
                //alert('search');
                Search();
                return false;
            });
        });

      function LoadPlatformType() {
      $.ajax({ url: "/Platform/GetAllPlatformType",
                type: "GET",
            }).done(function (items) {
                $('#selectPlatformType').empty();
                var options = $('#selectPlatformType');
                options.append($("<option />").val(null).text("---Please Select---"));
                $.each(items, function () {
                    options.append($("<option />").val(this.ID).text(this.PlatformTypeName_EN));
                });
                //$('select[name="selectPlatformType"]').val(value);
            });
      }

        function Search() {

              $('#dtPlatformList').DataTable({
                  'processing': true,
                  'serverSide': true,
                  'paging': true,
                  "ordering": true,
                  "searching": false,
                  "lengthChange": false,
                  "bAutoWidth": false,
                  "Filter": false,
                  "info": false,
                  "bPaginate": false,
                  "bLengthChange": false,
                  //"language": {
                  //    "lengthMenu": "Display _MENU_ records per page",
                  //    "zeroRecords": "    Nothing found - sorry",
                  //    "info": "    page _PAGE_ of _PAGES_",
                  //    "infoEmpty": "    No records available",
                  //    "infoFiltered": "(filtered from _MAX_ total records)"
                  //},
                  "bJQueryUI": true, //Enable smooth theme
                  "sPaginationType": "full_numbers", //Enable smooth theme
                  "sDom": 'lfrtip',
                 //retrieve: true,
                 destroy: true,
                'ajax': {
                    'url': '@Url.Action("Search", "Platform")',
                    'type': 'POST',
                    'data': {
                        PlatformId: $("#txtFilterPlatformID").val(),
                        PlatformName: $("#txtFilterPlatformName").val(),
                        PlatformType: $('#selectPlatformType').val(),
                        PlatformStatus: $("#selectPlatformtStatus").val(),
                        "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val()
                    },
                },
                'columns': [
                    { data: 'rownumber' },
                    { data: 'PlatformID' },
                    { data: 'PlatformName_EN' },
                    { data: 'PlatformType' },
                    { data: 'PlatformStatus' },
                    {
                        "mData": "ID",
                        "mRender": function (data, type, row) {
                            var url = '@Url.Content("~/Platform/EditPlatform/")'+data;
                            var icon = '@Url.Content("~/assets/images/svg/icon-edit-blue.svg")';
                            return "<a href='"+url+"'><img src='"+icon+"' class='light-logo' alt='homepage' /></a>";
                        }
                    },
                    //{
                    //    "mData": "ID",
                    //    "mRender": function (data, type, row) { return "<a href='#'><img src='@Url.Content("~/assets/images/svg/icon-delete-red.svg")' class='light-logo' alt='homepage' /></a>"; }
                    //},
                     {
                        "mData": "ID",
                        "mRender": function (data, type, row) { return "<a href='#'><img src='@Url.Content("~/assets/images/icons/icon-excel.png")' width='32' height='32' alt='homepage' /></a>"; }
                    },
                 ],
                 "columnDefs": [
                     { "orderable": false, "targets": 0, "className": "text-center",  "width": "4%" },
                     { "orderable": true, "targets": 1, "className": "text-center" },
                     { "orderable": true, "targets": 2, "className": "text-center" },
                     { "orderable": true, "targets": 3, "className": "text-center" },
                     { "orderable": true, "targets": 4, "className": "text-center" },
                     { "orderable": false, "targets": 5, "className": "text-center" },
                     { "orderable": false, "targets": 6, "className": "text-center" },
                     //{ "orderable": false, "targets": 7, "className": "text-center" }

                 ]
              });


        }


    </script>
}
