@{
    ViewData["Title"] = "My Team IDP";
    ViewData["MainTitle"] = "My-Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    <div class="panel panel-primary" style="margin-top:-15px;width:100%;">
        <div class="panel panel-default" style="width:100%;border-width:thin;border-style:solid;">
            @*//Search Panel*@
            <div class="panel-body" style="width:100%;">
                <form method="post">
                    @Html.AntiForgeryToken()  @*CSRF Protected*@

                    <div class="form-horizontal" style="margin-top:25px">
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Plant ID</label>
                                </span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <select id="selectPlant"
                                        name="selectPlant"
                                        title="Please Enter Plant"
                                        class="form-control required"
                                        style="width: 100%">
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Center</label>
                                </span>
                            </div>
                            <div class="col-sm-3 col-md-3">
                                <select id="selectCenter"
                                        name="selectCenter"
                                        title="Please Enter Center"
                                        class="form-control required"
                                        style="width: 100%"
                                        disabled="disabled">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Divison</label>
                                </span>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <select id="selectDivision"
                                        name="selectDivision"
                                        title="Please Enter Division"
                                        class="form-control required"
                                        style="width: 100%"
                                        disabled="disabled">
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Department</label>
                                </span>
                            </div>
                            <div class="col-3">
                                <select id="selectDepartment"
                                        name="selectDepartment"
                                        title="Please Enter Department"
                                        class="form-control required"
                                        style="width: 100%"
                                        disabled="disabled">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Status</label>
                                </span>
                            </div>
                            <div class="col-4">
                                <select id="selectIDPStatus" name="selectIDPStatus" class="form-control" style="width: 100%">
                                    <option value="0">-- Select All --</option>
                                    <option value="10">Not Start</option>
                                    <option value="30">On Progress</option>
                                    <option value="70">Complete</option>
                                    <option value="99">Incomplete</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <span class="pull-right">
                                    <label class="LabelCaption">Employee</label>
                                </span>
                            </div>
                            <div class="col-3">
                                <input type="text" id="txtEmployeeID" class="form-control input-sm" />
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-2 col-md-2 offset-8">
                                <a id="btnSeacrh" class="btn btn-outline-success waves-effect waves-light" style="width:70%;" onclick="Search()">
                                    <img style="width:25px;height:20px" src="~/assets/images/svg/icon-seach.svg" /><br />Search
                                </a>
                            </div>
                            <div class="col-sm-2 col-md-2" style="margin-left:-55px">
                                <a  data-toggle="modal" href="#myModal" class="btn btn-outline-success waves-effect waves-light" style="width:80%;" >
                                    <img style="width:25px;height:20px" src="~/assets/images/svg/add-button-circle.svg" /><br />Add Topic
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog modal-lg">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-body " style="margin-left:auto">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Employee Search</h4>
                                            </div>
                                            <div class="modal-body panel-body" style="margin-left:auto">

                                                @await Html.PartialAsync("_EmployeeSearch")

                                            </div>
                                                <div class="modal-header">
                                                    <div class="col-sm-2 col-md-2 offset-10" >
                                                        <button id="btnSeacrh" class="btn btn-outline-secondary waves-effect waves-light" data-dismiss="modal" style="width:80%">
                                                            <img style="width:25px;height:20px" src="~/assets/images/svg/closed-red.svg" /><br />Close
                                                        </button>

                                                    </div>
                                                </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @*<div class="table-responsive m-t-40">*@
            @* Result Panel *@
            @*<table class="display dataTable" width="100%" id="dtCourseList">
                <thead>
                    <tr>
                        <th style="text-align:center;width:100px">Name:</th>
        <th style="text-align:center;width:150px">Position:</th>
        <th style="text-align:center;width:150px">Service(Year):</th>
        <th style="text-align:center;width:150px">IDP Time Line:</th>
        <th style="text-align:center;width:150px">IDP Start:</th>
        <th style="text-align: center;width:50px">IDP End:</th>
        <th style="text-align:center;width:50px">IDP Objective</th>
        <th style="text-align:center;width:50px">Total Review</th>
        <th style="text-align:center;width:50px">IDP Status</th>
        <th style="text-align:center;width:50px">Update Date</th>
        <th style="text-align:center;width:50px">Update Time</th>
                        <th style="text-align:center;width:100px">image</th>
                        <th style="text-align:center;width:200px">IDP Team Member</th>
                        <th style="text-align:center;width:200px">Objective</th>
                    </tr>

                </thead>
                <tbody>
                </tbody>
            </table>*@
            <div class="container">
                <div class="row">
                    <div class="Col-sm-12">
                        <table class="display dataTable table table-image" width="100%" id="dtMyTeamIDPList">
                            <thead>
                                <tr>

                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @*<tr>

                                    <td class="w-25">
                                        <img src="~/assets/images/users/virgil.jpg" class="img-fluid img-thumbnail" alt="virgil">
                                    </td>
                                    <td class="col-sm-3">
                                        <strong>Mr. Virgil van Dijk</strong> </br>
                                        <strong>Position :</strong> Attacking Midfield </br>
                                        <strong>Service  :</strong> 2 Years </br>
                                        <strong>IDP Start:</strong> 1 June 2020 </br>
                                        <strong>IDP End  :</strong> 31 May 2021 </br>
                                    </td>
                                    <td class="col-md-4">
                                        <strong>Objective</strong> <br>
                                        <textarea rows="4" cols="50" readonly>At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                                        </textarea><br>
                                        <strong>Total Review:</strong> 10 <br>
                                        <strong>IDP Status:</strong> On Progress <br>
                                        Update Date: 01 May 2020 14:50:30
                                    </td>
                                </tr>
                                <tr>

                                    <td class="w-25">
                                        <img src="~/assets/images/users/Sarah.jpg" class="img-fluid img-thumbnail" alt="Sheep">
                                    </td>
                                    <td class="col-sm-3">
                                        <strong>Mr. Mohamed Salah</strong> </br>
                                        <strong>Position :</strong> Center Back </br>
                                        <strong>Service  :</strong> 3 Years </br>
                                        <strong>IDP Start:</strong> 1 May 2020 </br>
                                        <strong>IDP End  :</strong> 30 April 2021 </br>
                                    </td>
                                    <td class="col-md-4">
                                        <strong>Objective</strong> <br>
                                        <textarea rows="4" cols="50" readonly>At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
                                        </textarea><br>
                                        <strong>Total Review:</strong> 5 <br>
                                        <strong>IDP Status:</strong> On Progress <br>
                                        Update Date: 01 May 2020 14:50:30
                                    </td>

                                </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        @*</div>*@
        @section Scripts{
            <style type="text/css">
                .form-group {
                    margin-bottom: 1.5rem;
                }
            </style>

            <script type="text/javascript">
        $(document).ready(function () {

            $('select').select2({
                allowClear: true,
                closeOnSelect: true,
                theme: "bootstrap"
            });

            loadPlant();
            //loadPlatform();
            //LoadCourseLearnMethod();
            Search();


            $('select[name="selectPlant"]').on('change', function () {
                var plantid = $(this).val();

                ReloadCenter($, plantid, null);
            });

            $('select[name="selectCenter"]').on('change', function () {
                var centerId = $(this).val();
                ReloadDivision($, centerId, null);
            });

            $('select[name="selectDivision"]').on('change', function () {
                var divisionId = $(this).val();
                ReloadDepartment($, divisionId, null);
            });


            //$('#selectPlant').change(function() {
            //   changePlant(this);
            //});

            //$('#selectCenter').change(function() {
            //    changeCenter(this);
            //});

            //$('#selectDivision').change(function() {

            //    changeDivision(this);
            //});

        });



        function loadPlant() {
            //alert(' loadPlant : ' + @HttpContextAccessor.HttpContext.Request.Cookies["PLANTID"]);
            $.ajax({
                type: "GET",
                url: "/Master/GetAllPlants",
                success: function (response) {
                    var options = $('#selectPlant');
                    options.append($("<option />").val(null).text("Please select"));
                    $.each(response.Data, function () {
                        options.append($("<option />").val(this.ID_Plant).text(this.PlantName_EN));
                    });

                    $('select[name="selectPlant"]').val(@HttpContextAccessor.HttpContext.Request.Cookies["PLANTID"]).trigger('change');
                    //$('select[name="selectPlant"]').val(1).trigger('change');
                },
                failure: function (response) {
                    MessageController.Error(response.responseText, "Error");
                },
                error: function (response) {
                    MessageController.Error(response.responseText, "Error");
                }
            });
            }
        function ReloadCenter($, plantId, callback) {
            //alert('ReloadCenter ' + plantId);
            var options = $('#selectCenter');
            options.empty();
            if (plantId && plantId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllCentersByPlant",
                    data: {
                           plantId : plantId
                           },
                        success: function (response) {
                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            //if (this.ID_Plant == plantId) {
                               options.append($("<option />").val(this.ID_Center).text(this.CenterName_EN));
                            //}
                        });
                        $('select[name="selectCenter"]').val(@HttpContextAccessor.HttpContext.Request.Cookies["CENTERID"]).trigger('change');
                        document.getElementById("selectCenter").disabled = false;

                        if (callback) {
                            //callback($("#userDivisionId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });



            }
        }

        function ReloadDivision($, centerId, callback) {
            var options = $('#selectDivision');
            options.empty();
            if (centerId && centerId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllDivisionsByCenter",
                    data: {
                        centerId : centerId
                    },
                    success: function (response) {
                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            //if (this.ID_Center == centerId) {
                                options.append($("<option />").val(this.ID_Division).text('(' + this.DivisionID + ') ' + this.DivisionName_EN));
                            //}
                        });
                        $('select[name="selectDivision"]').val(@HttpContextAccessor.HttpContext.Request.Cookies["DIVISIONID"]).trigger('change');
                        document.getElementById("selectDivision").disabled = false;


                        if (callback) {
                            //callback($("#userDivisionId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });
            }
        }

        function ReloadDepartment($, divisionId, callback) {
            var options = $('#selectDepartment');
            options.empty();
            if (divisionId && divisionId != "") {
                $.ajax({
                    type: "GET",
                    url: "/Master/GetAllDepartmentsByDivision",
                    data: {
                        divisionId : divisionId
                    },
                    success: function (response) {
                        options.append($("<option />").val(null).text("Please select"));
                        $.each(response.Data, function () {
                            //if (this.ID_Division == divisionId) {
                                options.append($("<option />").val(this.ID_Department).text('(' + this.DepartmentID + ') ' + this.DepartmentName_EN));
                            //}
                        });

                        $('select[name="selectDepartment"]').val(@HttpContextAccessor.HttpContext.Request.Cookies["DEPARTMENTID"]).trigger('change');
                        document.getElementById("selectDepartment").disabled = false;


                        if (callback) {
                            //callback($("#userDepartmentId").val());
                        }
                    },
                    failure: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    },
                    error: function (response) {
                        MessageController.Error(response.responseText, "Error");
                    }
                });
            }
                }
        function Search() {
            var icon = '@Url.Content("~/assets/images/svg/icon-edit.svg")';
            dtData = $('#dtMyTeamIDPList').DataTable({
                'processing': true,
                'serverSide': true,
                'paging': true,
                "ordering": false,
                "searching": false,
                "lengthChange": false,
                "bAutoWidth": false,
                "Filter": false,
                "info": false,
                "bPaginate": false,
                "bLengthChange": false,
                "bJQueryUI": true, //Enable smooth theme
                "sPaginationType": "full_numbers", //Enable smooth theme
                "sDom": 'lfrtip',
                destroy: true,
                'ajax': {
                    'url': '@Url.Action("Search", "MyTeamIDP")',
                    'type': 'POST',
                    'data': {
                        ID_Plant: $('#selectPlant').val(),
                        ID_Center: $('#selectCenter').val(),
                        ID_Division: $('#selectDivision').val(),
                        ID_Department: $('#selectDepartment').val(),
                        ID_Status: $('#selectIDPStatus').val(),
                        ID_Employee: $('#txtEmployeeID').val(),

                       
                        "__RequestVerificationToken": $('input[name=__RequestVerificationToken]').val()
                    },
                },
                'columns': [
                    {
                        data: "ProfilePath",
                        "mRender": function (data, type, row) {
                            return "<img src='" + data + "' class='img-fluid img-thumbnail' alt='virgil' width='137' height='165'>"
                        }
                    },
                    {
                        data: null,
                        "mRender": function (data, type, row) {
                            return "<strong>" + row.EmployeeName + "</strong> </br>" +
                                "<strong>Position : </strong>" + row.JobTitleName_EN + "</br>" +
                                "<strong>Service  :</strong>" + row.Service_TimeLine + "</br>" +
                                "<strong>IDP Start:</strong> " + row.IDP_StartDate + "</br>" +
                                "<strong>IDP End  :</strong> " + row.IDP_EndDate + "</br>"

                        }


                    },
                    {
                        data: null,
                        "mRender": function (data, type, row) {
                            return "<strong>Objective</strong> <br><textarea rows='4' cols='50' readonly>" + row.Objective + 
                                "</textarea > <br> <strong>Total Review: </strong>" + row.TotalReview + "<br> <strong> IDP Status: </strong >" +
                                row.statename + "<br> <strong>Update Date: </strong>" + row.UpdateDate
                        }
                    
                    }],
                "columnDefs": [
                    { "orderable": false, "targets": 0, "className": "text-center", "width": "30%" },
                    { "orderable": false, "targets": 1, "className": "text-Left", "width": "70%"},
                    { "orderable": false, "targets": 2, "className": "text-Left", "width": "100%" },
                 

                ]
            });
        }
            </script>
    }
